/*	font-family: 'HuiFont';

    font-family: 'LatoWebBlack';
   
    font-family: 'Lato-BlackItalic';
  
    font-family: 'LatoWebBold';
   
    font-family: 'Lato-BoldItalic';
   
    font-family: 'LatoWebHairline';
   
    font-family: 'Lato-HairlineItalic';
   
    font-family: 'LatoWebHeavy';
   
    font-family: 'Lato-HeavyItalic';
   
    font-family: 'Lato-Italic';
   
    font-family: 'LatoWebLight';
   
    font-family: 'Lato-LightItalic';
  
    font-family: 'LatoWebMedium';
   
    font-family: 'Lato-MediumItalic';
    
    font-family: 'Lato-Regular';
   
    font-family: 'LatoWebSemibold';
   
    font-family: 'Lato-SemiboldItalic';

    font-family: 'Lato-Thin';
   
    font-family: 'Lato-ThinItalic';*/

body {
	font: 62.5% Meiryo, arial, clean, verdana, 'Hiragino Kaku Gothic Pro', "ＭＳ Ｐゴシック", Osaka, sans-serif;
	color: #333;
	line-height: 1.4;
}
html>/**/body {
	font-size: 10px;
	font-size /*\**/: 62.5%\9;
} /* Except IE & Add IE8 */
/**
 * Nudge down to get to 10px equivalent for these form elements
 */ 
select, input, button, textarea {
	font: 100% Meiryo, arial, clean, verdana, 'Hiragino Kaku Gothic Pro', "ＭＳ Ｐゴシック", Osaka, sans-serif;
	color: #333;
	line-height: 1.4;
}
/**
 * To help tables remember to inherit
 */
table {
	font-size: inherit;
	font: 100%;
	color: #333;
	line-height: 1.4;
}
/**
 * Bump up IE to get to 13px equivalent for these fixed-width elements
 */
pre, code, kbd, samp, tt {
	font-family: monospace;
	font-size: 100%;
*font-size:108%;
	line-height: 1.4;
	color: #333;
}
/* Font-size fixed */
li li, li dt, li dd, li input, li select, li button, li textarea, li p, li th, li td, dt li, dt dt, dt dd, dt input, dt select, dt button, dt textarea, dt p, dt th, dt td, dd li, dd dt, dd dd, dd input, dd select, dd button, dd textarea, dd p, dd th, dd td, th li, th dt, th dd, th input, th select, th button, th textarea, th p, th th, th td, td li, td dt, td dd, td input, td select, td button, td textarea, td p, td th, td td, p input {
	font-size: 100%;
}



/* Webfont: Lato-Black */@font-face {
    font-family: 'LatoWebBlack';
    src: url('../fonts/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BlackItalic */@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('../fonts/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('../fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */@font-face {
    font-family: 'LatoWebHairline';
    src: url('../fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HairlineItalic */@font-face {
    font-family: 'Lato-HairlineItalic';
    src: url('../fonts/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('../fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */@font-face {
    font-family: 'Lato-HeavyItalic';
    src: url('../fonts/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-HeavyItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
    font-family: 'Lato-Italic';
    src: url('../fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWebLight';
    src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */@font-face {
    font-family: 'Lato-LightItalic';
    src: url('../fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoWebMedium';
    src: url('../fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-MediumItalic */@font-face {
    font-family: 'Lato-MediumItalic';
    src: url('../fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('../fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-SemiboldItalic */@font-face {
    font-family: 'Lato-SemiboldItalic';
    src: url('../fonts/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */@font-face {
    font-family: 'Lato-Thin';
    src: url('../fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-ThinItalic */@font-face {
    font-family: 'Lato-ThinItalic';
    src: url('../fonts/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


