@charset "UTF-8";
@import "base.css";
@import "fonts.css";
/* 基本タグのフォントサイズを指定（12px -> 120% or 1.2em ） */
h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
	font-size: 160%;
	-webkit-text-size-adjust: none;
}
img {
	vertical-align: bottom;
}
h1 {
} /* Header内で設定 */
h2 {
}
h3 {
}
h4 {
}
a {
	color: #f7903e;
}
a:hover, a:active {
	color: #f7903e;
	text-decoration: none;
}
a:visited {
}
ul {
}
li {
}
dl {
}
dt {
}
dd {
}
table {
	width: 100%
}
th, td {
}
th {
}
td {
}
p {
	margin: 0 0 1.5em;
}
p, td, th, li, strong, dt, dd {
	line-height: 1.8em;
}
.image_l {
	float: left;
	margin: 0 30px 30px 0;
}
.image_r {
	float: right;
	margin: 0 0 30px 30px;
}
.image_center {
	text-align: center;
}
.section, section {
	padding-bottom: 50px;
}
.section p:last-child, section p:last-child {
	margin-bottom: 0;
}
.section:last-child {
	padding-bottom: 0;
}
table, th, td {
	border: 2px solid #fff;
	font-size: 16px;
	text-align: center;
}
table {
	margin: 0 auto;
	font-size: 14px;
}
table th {
	background: #333333;
	color: #fff;
	font-weight: bold;
}
table td {
	background: #f6f6f6;
}
em {
	background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0) 60%, #F3B178 60%) repeat scroll 0 0;
}
em, i {
	font-style: italic;
	line-height: inherit;
}
strong, b {
	font-weight: bold;
	line-height: inherit;
}
strong {
	/*background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0) 60%, #E27F71 60%) repeat scroll 0 0;*/
	color: #DF4A37;
}
/*ol li{
	list-style-type: decimal;
	list-style-position:inside;
}*/

/* ol style02 */
ol {
	list-style-type: none;
	margin: 0;
	margin-left: 2em;
	padding: 0;
	counter-reset: li-counter;
}
ol > li {
	position: relative;
	margin-bottom: 10px;
	padding-left: 1.4em;
	line-height: 1.8em;
}
ol > li:before {
	position: absolute;
	top: 2px;
	left: -1.33em;
	width: 1.3em;
	height: 1.3em;
	font-size: 16px;
	line-height: 1.3em;
	text-align: center;
	color: #fff;
	border: 2px solid #000;
	border-radius: 50%;
	background-color: #000;
	content: counter(li-counter);
	counter-increment: li-counter;
}
.hover {
	transition: all 0.5;
}
.hover:hover {
	opacity: 0.8;
	transition: all 0.5;
}
/* add
------------------------------------------------------------------------*/
/*==========================================================================*/
/*                            Container                                     */
/*==========================================================================*/

html {
	background: none;
}
body {
	color: #222;
	text-align: center;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}
body#index {
	background: #fff;
}
#wrapper {
	overflow: hidden;
}
#index #wrapper {
}
#main {
	margin: 0 auto;
	text-align: left;
}
#content {
}
.inner {
	width: 1200px;
	margin: 0 auto;
}
/*==========================================================================*/
/*                               Header                                     */
/*==========================================================================*/

#header {
	height: 60px;
	text-align:left;
}
#header .inner {
}
#logo {
	float: left;
	padding: 6px 15px 0 0;
}
h1 {
	color: #816e6e;
	font-size: 14px;
	float: left;
	line-height: 60px;
}
.head_link {
	float: right;
	font-size: 18px;
	color: #fff;
	background: url(../images/icon_arrow01.png) calc(100% - 15px) center no-repeat #C20017;
	min-width: 140px;
	padding: 0 20px 0 10px;
	line-height: 36px;
	box-sizing: border-box;
	border-bottom: 6px solid #63020D;
	font-weight: 500;
	margin-top: 9px;
}
.head_link a {
	color: #fff;
	display: block;
	text-decoration: none;
}
/*==========================================================================*/
/*                              Footer                                      */
/*==========================================================================*/

#footer {
	position:relative;
}
address{
	line-height:88px;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	background:#000000;
	position:relative;
	z-index:2;
}

.footer_add:after {
	position: absolute;
	content: "";
	width: 98%;
	height: 100%;
	bottom: 12px;
	left: 0px;
	background: #BC000C;
	-ms-transform: rotate(-1deg) kewX(-15deg); /* IE 9 */
	-webkit-transform: rotate(-1deg) kewX(-15deg); /* Safari */
	transform: rotate(-1deg) skewX(-15deg);
}
/*==========================================================================*/
/*                             Contents                                     */
/*==========================================================================*/
/*common
------------------------------------------------------------------------*/

/* index
------------------------------------------------------------------------*/

/*----------------------- #container01 -----------------------*/

#container01 {
	background:#C20017;
	
}
#container01_inner{
	background: url(../images/bg_ct01.png) center bottom no-repeat;
	height: 754px;
	text-align: center;
	padding: 85px 0 0 0;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
	
	}
.ttl_subh2 {
	font-size: 50px;
	color: #c20018;
	background: #fff;
	display: inline-block;
	margin: 0 auto;
	font-weight: 500;
	padding: 0 20px;
	line-height: 80px;
	margin-bottom: 50px;
}
h2 {
	font-size: 100px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 20px;
	line-height: 1.4em;
}
.txt01 {
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	line-height: 1.5em;
}
/*----------------------- #container02 -----------------------*/
.ttl_h301 {
	font-size: 40px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 50px;
}
.ttl_h301 span {
	font-size: 20px;
	font-weight: 500;
	display: block;
}
#container02 {
	background: url(../images/bg_ct02.png) center top no-repeat;
	background-size: cover;
	padding: 175px 0 140px;
	margin-top: -106px;
	position: relative;
	z-index: 1;
	color: #fff;
	text-align: center;
}
#container02 .txt01 {
	font-size: 19px;
	line-height: 2em;
}
/*----------------------- #container03 -----------------------*/

#container03 {
	text-align: center;
	padding: 80px 0 65px;
}
#container03 .inner {
}
#container03 h3.ttl_h301 {
	color: #c40019;
	background: url(../images/bg_h3_red.png) center bottom no-repeat;
	padding-bottom: 30px;
	background-size: 106px auto;
}
#container03 h3.ttl_h301 span {
	letter-spacing: 5px;
	color: #666666;
}
.col_3 {
	float: left;
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 0 40px;
	border-right: 1px dotted #7F7F7F;
}
.col_3:nth-child(3n+3) {
	border-right: none;
}
.ttl_reason01 {
	margin-bottom: 40px;
	position:relative;
}
.ttl_reason01:before {
	position: absolute;
	content: "";
	width: 22px;
	height: 9px;
	left: calc(50% - 11px);
	bottom: -8px;
	background: url(../images/icon_arrow02.png) 0 0 no-repeat;
	z-index:10;
}
.ttl_reason01 p {
	border: 1px solid #000000;
	color: #000000;
	font-size: 25px;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	margin: 0;
	line-height: 47px;
}
.ttl_reason01 p:before {
	position: absolute;
	content: "";
	width: 30px;
	height: 30px;
	right: -15px;
	top: -27px;
	background: #000;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
}

.img_reason01 {
	margin-bottom: 35px;
}
.img_reason01 img {
	max-width: 158px;
}
/*----------------------- #container04 -----------------------*/

#container04 {
	background: url(../images/bg_ct04.png) center top no-repeat;
	background-size: cover;
	padding: 90px 0 55px;
	position: relative;
	z-index: 1;
	color: #fff;
	text-align: center;
}
#container04 h3.ttl_h301 {
	background: url(../images/bg_h3_white.png) center bottom no-repeat;
	padding-bottom: 30px;
	background-size: 106px auto;
}
.wres01 {
	width: 588px;
	float: left;
	margin: 0 24px 24px 0;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.4);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.wres01:nth-child(2n+2) {
	margin-right: 0;
}
.wres01_inner {
	background: rgba(0,0,0,0.4);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	padding: 75px 10px 40px;
}
.wres01_inner:before {
	position: absolute;
	content: "";
	width: 300px;
	height: 300px;
	background: #C40019;
	-ms-transform: rotate(17deg); /* IE 9 */
	-webkit-transform: rotate(17deg); /* Chrome, Safari, Opera */
	transform: rotate(17deg);
	bottom: -263px;
	left: -158px;
}
.wres_number {
	position: absolute;
	font-size: 80px;
	color: #fff;
	font-family: 'LatoWebLight';
	top: 20px;
	right: 15px;
	line-height: 0.8em;
	margin: 0;
}
.wres01_inner h4 {
	position: relative;
	padding: 28px 0 0 0;
	margin-bottom: 35px;
	font-size: 25px;
	font-weight: 500;
}
.wres01_inner h4:after {
	position: absolute;
	content: "";
	width: 36px;
	border-top: 3px solid #fff;
	left: calc(50% - 18px);
	top: 0;
}
.wres_txt {
	margin-bottom: 0;
	font-size: 15px;
	font-weight: 500;
}
/*----------------------- #container05 -----------------------*/
#container05 {
	padding: 65px 0;
}
#container05 .inner {
}
#container05 h3.ttl_h301 {
	background: url(../images/bg_h3_black.png) center bottom no-repeat;
	padding-bottom: 30px;
	background-size: 106px auto;
	text-align: center;
}
.tb_industry table {
}
.tb_industry table, .tb_industry th, .tb_industry td {
	border: 1px solid #D6D6D6;
	font-size: 16px;
	text-align: left;
}
.tb_industry table {
	font-size: 14px;
	max-width: 890px;
	width: 100%;
	margin: 0 auto;
}
.tb_industry table th {
	background: #000000;
	color: #fff;
	font-weight: bold;
	border-bottom: 6px solid #C40019;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
}
.tb_industry table th.colf {
	width: 36%;
	border-right: 1px solid #616161;
}
.tb_industry table th, .tb_industry table td {
	padding: 17px;
}
.tb_industry table td {
	background: #fff;
}
/*----------------------- #container06 -----------------------*/
#container06 {
	background: url(../images/bg_ct06.jpg) center 120px no-repeat;
	padding: 55px 0;
	position: relative;
	z-index: 1;
	color: #fff;
	text-align: left;
	min-height:1180px;
}


#container06 h3.ttl_h301, #container07 h3.ttl_h301 {
	text-align: center;
	background: url(../images/bg_h3_black.png) center bottom no-repeat;
	padding-bottom: 30px;
	background-size: 106px auto;
	text-align: center;
	 color: #222;
}
#container06 h3.ttl_h301 span, #container07 h3.ttl_h301 span {
	color: #666666;
	font-family: 'Lato-Regular';
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 3px;
	line-height: 1.1em;
	padding-top: 15px;
}
.voice_case_inner{
	float:left;
	margin: 0 0 15px 115px;
	max-width:425px;
	padding:135px 0 0 0;
}
.voice_case02 .voice_case_inner{
	float:right;
	margin: 0 115px 15px 0;
	color:#000;
}
.voice_case_inner h4{
	font-size:30px;
	font-weight:500;
	margin-bottom:17px;
	position:relative;
}
.voice_case_inner h4:before {
	position: absolute;
	content: "";
	width: 30px;
	height: 25px;
	left: -48px;
	top: -8px;
	background:url(../images/icon_quote_white.png) 0 0 no-repeat;
	z-index: 1;
}
.voice_case02 .voice_case_inner h4:before {
	background:url(../images/icon_quote_red.png) 0 0 no-repeat;
}
.voice_case_inner p{
	margin-bottom:0;
	font-size:15px;
		font-weight:500;
}
/*----------------------- #container07 -----------------------*/
#container07 {
	padding: 50px 0;
}
/* tb_price */
.tb_price table {
}
.tb_price table, .tb_price th, .tb_price td {
	font-size: 16px;
	text-align: center;
	color: #333333;
}
.tb_price table {
	font-size: 14px;
	width: 100%;
	margin: 0 auto;
}
.tb_price table th {
	background: #E8E8E8;
	color: #333333;
	font-weight: normal;
}
.tb_price table th.colf {
	width: 36%;
	border-right: 1px solid #616161;
}
.tb_price table th, .tb_price table td {
	padding: 17px;
	border: 1px solid #DDDADA;
}
.tb_price table td {
	background: #fff;
}
.tb_price table .tbp_col01 {
	width: 13%;
}
.tb_price table .tbp_col02, .tb_price table .tbp_col03 {
	width: 28%;
}
.tb_price table .tbp_col04 {
}
.tb_price table .tcoll {
	background: #BC000C;
	color: #fff !important;
}
.tb_price table .tcolf {
	color: #333333;
	font-weight: bold;
	font-size: 18px;
}
.tb_price table .tcolf span {
	color: #c40019;
	font-size: 25px;
	display: block;
}
.tb_price table .tprice {
	color: #6E6E6E;
	font-size: 25px;
	font-weight: bold;
}
.tb_price table .tprice span {
	font-size: 18px;
	font-weight: normal;
}
.tb_price table .tb_rl td {
	font-size: 14px;
	color: #6e6e6e;
	vertical-align:top;
}
.tb_price table .tb_rl .tcoll {
	vertical-align: top;
}
.tb_price table .tb_rl .tcoll .tbp_icon {
	margin-bottom: 22px;
}
.tbp_icon {
	display: block;
	margin-bottom: 15px;
}
/* end: tb_price */


/*----------------------- #container08 -----------------------*/
#container08 {
	background: url(../images/bg_ct08.png) center top no-repeat;
	background-size: 100% 140px;
	padding: 140px 0 0;
	color: #fff;
}
#container08_inner {
	background: #000000;
}
#container08 h3.ttl_h301 {
	text-align: center;
	background: url(../images/bg_h3_white.png) center bottom no-repeat;
	padding-bottom: 30px;
	background-size: 106px auto;
	text-align: center;
}
#container08 h3.ttl_h301 span {
	color: #666666;
	font-family: 'Lato-Regular';
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 3px;
	line-height: 1.1em;
	padding-top: 15px;
}
.list_qa dl {
	margin-bottom: 45px;
}
.list_qa dt {
	background: #fff;
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	padding: 22px 25px 21px 95px;
-ms-transform: skewX(-35deg); /* IE 9 */
	-webkit-transform: skewX(-35deg); /* Safari */
	transform: skewX(-35deg);
	position: relative;
	z-index: 2;
	margin-bottom: 30px;
}
.list_qa dt p {

	-ms-transform: skewX(35deg); /* IE 9 */
	-webkit-transform: skewX(35deg); /* Safari */
	transform: skewX(35deg);
	
	margin-bottom: 0;
	line-height: 1.2em;
}
.list_qa dt span, .list_qa dd span {
	font-family: 'Lato-Regular';
	font-style: italic;
	color: #c40019;
	font-size: 40px;
	left: -70px;
	position: absolute;
}
.list_qa dt:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #fff;
	z-index: -1;
}
.list_qa dt:after {
	position: absolute;
	content: "";
	width: 98%;
	height: 100%;
	bottom: -1px;
	left: -3px;
	background: #BC000C;
	z-index: -2;
	-ms-transform: rotate(-1deg) skewX(15deg); /* IE 9 */
	-webkit-transform: rotate(-1deg) skewX(15deg); /* Safari */
	transform: rotate(-1deg) skewX(15deg);
}
.list_qa dd {
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	padding: 0px 25px 0px 95px;
	position: relative;
	z-index: 2;
	margin-bottom: 0;
}
.list_qa dd span {
	left: 32px;
}
/*----------------------- #contact -----------------------*/
#contact {
	padding: 55px 0 20px;
}
#contact h3.ttl_h301 {
	text-align: center;
	background: url(../images/bg_h3_black.png) center bottom no-repeat;
	padding-bottom: 30px;
	background-size: 106px auto;
}
.contact_f {
	max-width: 580px;
	width:100%;
	margin: 0 auto 40px;
}
.contact_f dl {
	margin-bottom: 40px;
	width: 100%;
}
.contact_f dt {
	width: 24%;
	float: left;
	text-align: left;
	font-weight: bold;
	line-height: 42px;
}
.contact_f dd {
	width: 70%;
	float: right;
}
.contact_f input[type="text"], .contact_f input[type="email"], .contact_f input[type="confirm_email"], .contact_f textarea {
	border: 1px solid #D5D5D5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 42px;
	padding: 0 18px;
	width: 100%;
	box-sizing: border-box;
}
.contact_f textarea {
	width: 100% !important;
	min-height: 200px;
	line-height: 22px;
	padding-top: 8px;
}
.contact_f input[type="submit"],.txt_btn{
	background: url(../images/icon_arrow01.png) 91% center no-repeat #C40019;
	display: block;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 1px;/*transition: all 0.4s ease 0s*/
	transition: all 0.5s ease 0s;
	border: none;
	cursor: pointer;
	width: 100%;
	box-sizing: border-box;
	max-width:115px;
	margin:0 auto;
	line-height:37px;
	border-bottom:5px solid #63020C;
	padding-right:20px;
	-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
font-weight:bold;
}
.txt_btn{
	max-width:200px;
}
.txt_address{
	font-weight:bold;
	color:#333;
	text-align:center;
	font-size:15px;
}



/* confirm page */
.contact_confirm{
	background:#000000;
}
.contact_confirm #wrapper{
	background:#000000;
	color:#fff;
	
}

.contact_confirm .inner{
padding:100px 0 0 0;
}


.contact_confirm .ttl_h301 {
    color: #fff;
    float: none;
	font-size:50px;
	background: url(../images/bg_h3_white.png) center bottom no-repeat;
	padding-bottom: 30px;
	background-size: 106px auto;
}
.contact_confirm dd p {
	border: 1px solid #D5D5D5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 42px;
	padding: 0 18px;
	width: 100%;
	box-sizing: border-box;
	text-align: left
}
.contact_confirm dd p.area {
	width: 100% !important;
    min-height: 200px;
    line-height: 22px;
    padding-top: 8px;
}
.contact_confirm input[type="text"],
.contact_confirm textarea,
.contact_confirm dd p {
	background:#111;
	color:#777;
	border:1px solid #1F1F1F;

}

#box_confirm,.contact_confirm .inner{
	position:relative;
}
#button_close{
	position:absolute;
	top:40px;
	right:40px;
	margin:0;
	max-width:32px;
	z-index:2;
}
#button_close img{
max-width:100%;
}

/* thank page */
#box_thank{
	padding:100px 0;
}
#logo02 img{
	max-width:242px;
}



.thank_page{
background: url(../images/bg_page_thank.jpg) center center no-repeat;
background-size:cover;
color:#fff;
font-weight:500;
}
.thank_page h1{
	text-align:center;
	float:none;
	color:#fff;
	line-height:40px;
}
.thank_page .ttl_h301 {
    color: #fff;
    float: none;
	font-size:40px;
	background: url(../images/bg_h3_white.png) center bottom no-repeat;
	padding-bottom: 30px;
	background-size: 106px auto;
	margin:100px 0 80px;
}

.thank_page  .txt_address{
	color:#fff;
}
#logo02{
	margin-bottom:0;}

.txt_thank{
	margin-bottom:60px;
}
.thank_page .contact_f{
	margin-bottom:100px;
}














