#bx-pager {
	display: none;
}
#modal_quiz_out {
	display: none;
	overflow: scroll;
}
#modal_quiz_he {
	width: 100%;
	height: auto;/*	overflow:auto;*/
}
#modal_quiz {
	background: rgba(255,255,255,0.9);
	box-sizing: border-box;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	vertical-align: top;
	width: 100%;
	z-index: 9999999;
	overflow: auto;
}
#btn_close {
	/*    color: #000;
    font-size: 50px;
    line-height: 53px;
    position: absolute;
    right: 30px;
    text-decoration: none;
    top: 30px;
    z-index: 10;
	border:2px solid #000;
	-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
width:50px;
height:50px;*/
	position: absolute;
	top: 30px;
	right: 30px;
}
#btn_close img {
	width: 50px;
}
#modal_quiz_inner {
	height: auto;
	max-width: 1000px;
	margin: 0 auto;
	width: 95%;
}
.logo_l {
	padding-top: 45px;
}
.box_qa {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #DEDEDE;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	margin-bottom: 40px;
	padding: 30px;
	text-align: left;
}
.list_qa {
	width: 100%;
}
h3.title_qa {
	text-align: center;
	color: #888888;
	font-size: 30px;
	font-weight: 500;
	position: relative;
	padding-bottom: 18px;
	margin-bottom: 45px;
}
h3.title_qa:after {
	position: absolute;
	content: "";
	width: 64px;
	border-top: 4px solid #35A1C2;
	left: calc(50% - 32px);
	bottom: 0;
}
.question_txt {
	color: #09a1c2;
	background: url(../images/icon_q.png) 0 center no-repeat;
	padding-left: 80px;
	line-height: 25px;
	height: 52px;
	display: table;
	font-size: 18px;
}
.question_txt span {
	display: table-cell;
	vertical-align: middle;
}
.box_ans {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 10%;
}
.box_qa input[type="checkbox"] {
	margin-right: 10px;
}
.box_qa label {
	color: #1b1b1b;
	font-size: 18px;
	font-weight: 500;
}
.box_ans li {
	margin-bottom: 15px;
}
.list_btn_qa {
	text-align: center;
	margin-bottom: 50px;
}
.btn_slide_qa {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #35A1C2;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	min-width: 108px;
	text-align: center;
	line-height: 37px;
	display: inline-block;
	margin-right: 12px;
	cursor: pointer;
	padding:0 10px;
}
#reset-quiz.btn_slide_qa {
	width: 150px;
	margin: 0;
}
.btn_slide_qa:hover {
	opacity: 0.8;
}
.btn_slide_qa a {
	color: #fff;
	text-decoration: none;
	display: block;
}
#start-now {
	margin-right: 0;
}
#slider-prev {
	background: url(../images/btn_pre_q01.png) 15% center no-repeat #888888;
}
#slider-next {
	background: url(../images/btn_next_q01.png) 85% center no-repeat #35A1C2;
}
#box_progressbar {
	margin-bottom: 90px;
}
/*form styles*/
/*.container {
	margin: 80px auto;
	width: 640px;
	text-align: center;
}
.container .progress {
	margin: 0 auto;
	width: 400px;
}*/
.progress {
	/*background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);*/
	background: #A7A7A7;
	border-radius: 6px;
	position: relative;
	width: 100%;
	float: left;
}
.progress-bar {
	width: calc(100% / 15);
	position: relative;
	height: 12px;
	border-radius: 6px;
	background: #42B7D0;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
	/*   box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);*/
	float: left;
}
.progress-bar_remaining {
	float: left;
	width: calc(100% - 6.666666666666667%);
	position: relative;
	height: 12px;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}
.number_bar {
	position: absolute;
	top: 12px;
	font-size: 16px;
	color: #666666;
	left: 50%;
	width: 100px;
	text-align: center;
	transition: all 0.5;
}
#number_answered.number_bar {
	left: calc(50% - 50px);
}
#number_remaining.number_bar {
	left: calc(50% - 50px);
}
.number_bar_inner {
	position: relative;
	padding-top: 10px;
}
.number_bar_inner:after {
	top: 0;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(9, 161, 194, 0);
	border-top-color: #09A1C2;
	border-width: 7px;
	margin-left: -7px;
}
#number_remaining.number_bar .number_bar_inner:after {
	border-top-color: #A7A7A7;
}
.arrow_box {
	position: relative;
	background: #09A1C2;
}
.progress-bar:before, .progress-bar:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.progress-bar:before {
	bottom: 0;
	background: url("../images/stripes.png") 0 0 repeat;
	border-radius: 4px 4px 0 0;
}
.progress-bar:after {
	z-index: 2;
	bottom: 45%;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}
/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
#five:checked ~ .progress > .progress-bar {
	width: 5%;
	background-color: #f63a0f;
}
#twentyfive:checked ~ .progress > .progress-bar {
	width: 25%;
	background-color: #f27011;
}
#fifty:checked ~ .progress > .progress-bar {
	width: 50%;
	background-color: #f2b01e;
}
#seventyfive:checked ~ .progress > .progress-bar {
	width: 75%;
	background-color: #f2d31b;
}
#onehundred:checked ~ .progress > .progress-bar {
	width: 100%;
	background-color: #86e01e;
}
.radio {
	display: none;
}
.label {
	display: inline-block;
	margin: 0 5px 20px;
	padding: 3px 8px;
	color: #aaa;
	text-shadow: 0 1px black;
	border-radius: 3px;
	cursor: pointer;
}
.radio:checked + .label {
	color: white;
	background: rgba(0, 0, 0, 0.25);
}
.box_qa .bx-wrapper {
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
.logo_l img {
	width: 150px;
}
h3.title_qa {
	font-size: 20px;
	padding-bottom: 12px;
	margin-bottom: 12px;
}
h3.title_qa:after {
	width: 50px;
	border-top: 2px solid #35A1C2;
	left: calc(50% - 25px);
}
.question_txt {
	background-size: 30px auto;
	padding-left: 40px;
	line-height: 20px;
	height: 40px;
	font-size: 14px;
	margin-bottom: 5px;
}
.box_qa {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 12px;
}
.box_ans {
	padding-left: 5px;
}
.box_qa label {
	font-size: 14px;
}
.box_ans li {
	margin-bottom: 5px;
}
.box_qa .bx-wrapper {
	margin-bottom: 0;
}
.number_bar_inner {
	font-size: 10px;
	padding-left: 15px;
}
#btn_close {
	position: absolute;
	top: 30px;
	right: 30px;
}
#btn_close img {
	width: 40px;
}
}
/* Quiz slider customization
---------------------------------------------*/

.title_quiz {
	color: #3f6888;
	font-size: 35px;
	padding: 0px 0 15px 0;
	font-weight: 500;
	letter-spacing: 0px;
	margin-bottom: 35px;
	text-align: center;
	position: relative;
}
.title_quiz:after {
	position: absolute;
	content: "";
	width: 60px;
	border-top: 4px solid #3f6888;
	left: calc(50% - 30px);
	bottom: 0;
}
.startquiz, .inprogress, .endquiz, .beforequiz {
	display: none;
}
.startquiz.active, .inprogress.active, .endquiz.active, .beforequiz.active {
	display: block;
}
#slider-next.disable {
	display: none;
}
#notify-checkbox, #notify-textarea, #notify-radio, #notify-select {
	display: none;
}
#notify-checkbox.active, #notify-textarea.active, #notify-radio.active, #notify-select.active {
	display: block;
}
.title_contact,
.title_thanks,
.thankyou_mess {
	display: none;
}
.title_contact.active,
.title_thanks.active,
.thankyou_mess.active {
	display: block;
}
.errors {
	background: #fc6569;
	color: #ffffff;
	padding: 10px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.errors p {
	margin-bottom: 0;
}
.hidden-ques {
	height: 0px;
}
.frm-fields {
	display: block;
}
.frm-fields.disable {
	display: none;
}
#reset-quiz {
	display: none;
}
#reset-quiz.active {
	display: inline-block;
}
/* Quiz slider end customization
---------------------------------------------*/

/* contact form */

.endquiz dl {
	width: 100%;
	display: table;
}
.endquiz dl dt {
	display: table-cell;
	font-weight: bold;
	padding: 15px;
	vertical-align: middle;
	width: 220px;
}
.endquiz dl dt span {
	color: #f00;
	margin-left: 5px;
	text-transform: uppercase;
}
.endquiz dl dd {
	padding: 15px 0;
}
.endquiz dl dd.btn_submit {
	text-align: center;
}
.endquiz input {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 15px;
	line-height: 40px;
	padding: 0 5px;
}
.endquiz textarea {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 13px;
	height: 80px;
	padding: 5px;
	width: 460px;
}
.endquiz dl dd .error {
	color: #f00;
	display: block;
}
.endquiz .category_area {
	margin-top: 10px;
}
.endquiz .category_area li {
	display: inline-block;
	margin-right: 20px;
}
.endquiz input[type="submit"] {
	background: #35A1C2;
	border: medium none;
	border-radius: 3px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0 auto;
	max-width: 150px;
	padding: 0;
	transition: all 0.5s ease-in-out 0s;
	width: 100%;
	 -webkit-appearance: none !important;
}
.endquiz input[type="submit"]:hover {
	opacity: 0.6;
}
.endquiz input[type="text"], .endquiz input[type="email"], .endquiz textarea {
	max-width: 100% !important;
	width: 90%;
}
.endquiz input[type="tel"] {
	width: 250px;
}
.wpcf7-list-item {
	padding-right: 10px;
}
div.wpcf7-mail-sent-ok, div.wpcf7-response-output, div.wpcf7-validation-errors {
	display: none !important;
}

@media screen and (max-width:768px) {
.title_quiz {
	font-size: 22px;
}
.endquiz dl {
	display: block;
}
.endquiz dl dt {
	box-sizing: border-box;
	padding: 0;
	width: 100%;
}
.endquiz dl dd {
	box-sizing: border-box;
	display: block;
	padding-top: 10px;
	width: 100%;
}
.endquiz input[type="text"], .endquiz input[type="email"], .endquiz textarea, .endquiz input[type="tel"] {
	width: 100%;
}
}



/* contact */

#header.contact h2{
	font-size:50px;
	margin-top:65px;
	
}
.box_form h3{
	color: #1da2c3;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 20px;
    padding: 0;

}





/* style form */
.heading{
	padding-top:50px;

	}
.frm-fields{
	width:100%;
	margin:0 auto;
	max-width:1030px;
	padding:40px;
	  border: 5px solid #e1eff2;
    box-sizing: border-box;
	margin-bottom:40px;

}
.bt_des{
	font-weight:bold;
}
.box_radio_bt{
	text-align:left;
}
.beforequiz p,.startquiz p{
	text-align:center;
}
.box_ans select{
	margin:0 auto;
	
}
.box_ans textarea{
	width:100%;
	padding:15px;
	overflow:auto;
}
.box_ct01{
	margin-bottom:40px;
}


.box_form dl {
	width: 100%;
	display: table;
	    border-bottom: 1px dotted #dfdfdf;
}
.box_form dl dt {
	display: table-cell;
	font-weight: bold;
	padding: 15px;
	vertical-align: middle;
	width: 220px;
	text-align:left;
}
.box_form dl dt.field_mail{
	vertical-align:top;
}
.field_cm{
	font-size:12px;
	text-align:left;
	margin:0;
	margin-top:8px;
}
.box_form dl dt span {
	color: #f00;
	margin-left: 5px;
	text-transform: uppercase;
}
.box_form dl dd {
	padding: 15px 0;
}
.box_form dl dd.btn_submit {
	text-align: center;
}
.box_form select{
	width:100%;
	background: #fff ;
	border: 1px solid #ccc;
   height: 40px;
	}
.box_form input {
	background: #fff;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 15px;
	line-height: 40px;
	padding: 0 5px;
}
.box_form textarea {
	background: #fff;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 13px;
	height: 80px;
	padding: 5px;
	width: 460px;
}
.box_form dl dd .error {
	color: #f00;
	display: block;
}
.box_form .category_area {
	margin-top: 10px;
}
.box_form .category_area li {
	display: inline-block;
	margin-right: 20px;
}
.box_form input[type="submit"] {
	background: #35A1C2;
	border: medium none;
	border-radius: 3px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0 auto;
	max-width: 150px;
	padding: 0;
	transition: all 0.5s ease-in-out 0s;
	width: 100%;
	 -webkit-appearance: none !important;
}
.box_form input[type="submit"]:hover {
	opacity: 0.6;
}
.box_form input[type="text"], .box_form input[type="email"], .box_form textarea {
	max-width: 100% !important;
	width: 100%;
}
.box_form input[type="tel"] {
	width: 250px;
}
.wpcf7-list-item {
	padding-right: 10px;
}
div.wpcf7-mail-sent-ok, div.wpcf7-response-output, div.wpcf7-validation-errors {
	display: none !important;
}

.box_form_confirm dd{
	background:#F6F6F6;
	text-align:left;
}

.box_form_confirm dl dt,.box_form_confirm dl dd{
	padding:5px;
	height:29px;
	margin:5px 0;
}
.box_form_confirm dl{
	border-bottom:none;
}
.box_thanks{
	padding:50px 0;
}
@media screen and (max-width:768px) {
	
	#header.contact h2{
	font-size:30px;
	margin-top:30px;
	
}
	.box_form h3{
		font-size:18px;
		font-weight:bold;
	}
	.frm-fields{
		padding:20px;
	}
.title_quiz {
	font-size: 22px;
}
.box_form dl {
	display: block;
	margin-bottom:12px;
}
.box_form dl dt {
	box-sizing: border-box;
	padding: 0;
	width: 100%;
}
.box_form dl dd {
	box-sizing: border-box;
	display: block;
	padding-top: 10px;
	width: 100%;
}
.box_form input[type="text"], .box_form input[type="email"], .box_form textarea, .box_form input[type="tel"] {
	width: 100%;
}
.box_form_confirm dl dd{
		box-sizing:inherit;}
}

