<<<<<<< HEAD
#s_navi,#sidebar{width:300px}.list_btn_social01 li:hover,.list_latestpost_sb dd:hover .list_latestpost_sb_img,.navi_btn_twitter:hover{opacity:.8}#sidebar .sidebar_list li a,.dblog_in li a,.link_related a,.qoete_link a{text-decoration:none}#container{padding:0 20px}#main.menu_fixed{padding-top:104px}#sidebar{float:right}#navi_social{height:340px}.navi_ad,.search_navi{margin-bottom:20px}.search_navi_ct{width:100%;margin:0 auto;background:#fff;border:1px solid #222;box-sizing:border-box;height:38px}.search_navi_ct input[type=text]{box-sizing:border-box;line-height:36px;border:none;width:calc(100% - 37px);padding:0 15px}.search_navi_ct input[type=submit]{background:url(../images/btn_search.png) center center no-repeat #222;background-size:17px auto;height:37px;width:37px;float:right;border:none;text-indent:-99999px;transition:all .5s ease 0s;cursor:pointer}.pgfb{margin-bottom:10px}.navi_btn_twitter{margin-bottom:7px;text-align:center}.navi_btn_twitter img{max-width:300px}.list_btn_social01{margin-bottom:20px}.list_btn_social01 li{float:left;width:146px;margin-right:8px;background:#F48D00;text-align:center;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.list_btn_social01 li img{max-width:40px!important}.adsense_area_box,.person_box{max-width:690px;box-sizing:border-box}.list_btn_social01 li a{display:block}.list_btn_social01 li:nth-child(2n+2){margin-right:0;background:#89C22E}.sidebar_list{margin-bottom:30px}.sidebar_list dt{background:#222;font-weight:700;color:#fff;font-size:15px;line-height:42px;padding:0 0 0 25px}.list_latestpost_sb dd::after,.sidbar_list_post dd:after{content:".";display:block;font-size:0;height:0;visibility:hidden;clear:both}.sidbar_list_post dt{margin-bottom:20px}.sidbar_list_post dd{padding:0 0 15px;margin-bottom:20px;border-bottom:1px solid #ccc}#sidebar .sidebar_list li{border-bottom:1px solid #ccc;line-height:40px;padding-left:25px}#sidebar .sidebar_list li a{color:#333;display:block}#sidebar .sidebar_list li:hover a,.list_latestpost_sb dd:hover .list_latestpost_sb_title a{color:#009ee3}.list_latestpost_sb_img{float:left;margin:0 7px 5px 0}.list_latestpost_sb_date{margin:0;line-height:25px;padding-left:0;letter-spacing:1px}.list_latestpost_sb dt{background:url(../images/icon_star_b.png) 15px center/16px 16px no-repeat #f4f4f4;margin-bottom:20px}.list_latestpost_sb dd{border-bottom:1px solid #ccc;cursor:pointer;margin-bottom:10px;padding-bottom:5px}.list_latestpost_sb_img{display:table-cell;height:70px;transition:all .5s ease-in-out 0s;vertical-align:top;width:92px}.list_latestpost_sb_img p{margin-bottom:0}.list_latestpost_sb_ct{display:table-cell;padding-left:8px;vertical-align:top;text-align:left}.list_latestpost_sb_ct p{font-size:14px}.list_latestpost_sb_ct .list_latestpost_sb_title{line-height:16px;margin-bottom:0}.list_latestpost_sb_ct .list_latestpost_sb_title a{color:#333;text-decoration:none}.list_latestpost_sb_ct .list_latestpost_sb_title a:hover{color:#009ee3}#content{width:calc(100% - 350px);float:left}h3.title_lblog{font-size:30px;font-weight:700;text-align:center;margin-bottom:40px}.bloglist_box01{float:left;margin-bottom:30px;margin-right:calc(7% / 2);width:31%;box-sizing:border-box;border:3px solid #65AFC4;position:relative}.blog_title,h1.bh{font-weight:700;margin-bottom:10px}.bloglist_box01:nth-child(3n+3){margin-right:0}.bloglist_box01:hover:after{content:"";z-index:4;position:absolute;top:0;left:0;border:7px solid #65AFC4;box-sizing:border-box;width:100%;height:100%;opacity:1;transition:all .3s ease 0s}.blog_img{overflow:hidden;position:relative;z-index:3}.bloglist_box01 .blog_time{background:#65AFC4}.blog_inew{position:absolute;top:0;left:0;z-index:10;color:#fff;font-size:15px;letter-spacing:1px;font-weight:700}.blog_inew span{position:absolute;z-index:20;top:15px;left:18px}.blog_inew:after,.blog_inew:before{z-index:4;background:#65AFC4;width:87px;height:87px;position:absolute;content:""}.blog_inew:after{left:-6px;top:-34px;transform:rotate(-61deg)}.blog_inew:before{left:-55px;top:-39px;transform:rotate(-145deg)}.blog_idx_info,.list_ajenda li{position:relative}.bloglist_box01:hover{cursor:pointer}.blog_img img{transition:all 1s ease 0s}.blog_idx_info{padding:25px;z-index:10;background:0 0}.blog_title{font-size:18px;line-height:25px}.blog_list_n{padding-left:30px}.blog_cate_list{background:url(../images/icon_category01.png) 0 10px no-repeat}.blog_tag_list{background:url(../images/icon_tag01.png) 0 10px no-repeat}.note_blog{font-size:14px}#content.blog_detail{border:1px solid #CCC;padding:60px 50px 20px;position:relative;box-sizing:border-box}#content.blog_detail p{line-height:2em}#content.blog_detail .blog_time{left:50px;top:0;bottom:inherit;font-size:20px;color:#fff}h1.bh{font-size:32px;line-height:48px}h2.bh,h3.bh,h4.bh{margin-bottom:40px;font-weight:700}h2.bh{font-size:28px;line-height:40px;background:rgba(87,173,222,.2);padding:22px 20px}h3.bh{font-size:24px;line-height:35px;padding:13px 0;border-top:1px solid #333;border-bottom:1px solid #333}h4.bh{font-size:22px;line-height:33px;padding:5px 0 5px 19px;border-left:2px solid #333}h5.bh{margin-bottom:20px;font-size:18px;font-weight:700;line-height:28px}.external{font-size:18px;background:url(../images/icon_external_link.png) left 7px no-repeat;padding-left:20px;word-wrap:break-word}.other_articles{border:1px solid #DBDBDB;box-sizing:border-box;padding:19px;margin-bottom:40px}.other_articles .list_latestpost_sb_img{margin:0}.other_articles .list_latestpost_sb_ct{padding-left:15px}#content.blog_detail .other_articles .list_latestpost_sb_title{font-size:18px;font-weight:700;line-height:25px}.other_articles .list_latestpost_sb_date{font-size:13px;color:#999}.blogd_cate_list{background:url(../images/icon_cate02.png) left 3px no-repeat;float:left;margin:0 25px 0 0;padding-left:35px}.blogd_tag_list{background:url(../images/icon_tag02.png) left 3px no-repeat;float:left;padding-left:35px}.dblog_in{margin-bottom:17px}.dblog_in li{display:inline-block;margin-right:7px}.dblog_in li a{-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;font-size:11px;line-height:22px;padding:0 8px;display:block;transition:all .2s ease 0s}.list_ajenda li,.list_ajenda li li{padding-left:23px}.blogd_cate_list li a{color:#E4683D;border:1px solid #E4683D}.blogd_cate_list li a:hover{color:#fff;background:#E4683D}.blogd_tag_list li a{color:#2E9E97;border:1px solid #2E9E97}.blogd_tag_list li a:hover{color:#fff;background:#2E9E97}.title_tbct{font-size:20px;font-weight:700;margin-bottom:0}.list_ajenda{margin-bottom:20px}.list_ajenda li:before{width:10px;height:8px;content:"";z-index:4;position:absolute;top:10px;left:0;background:#CCC}.list_ajenda li li:before{width:6px;height:5px}.list_ajenda li a{color:#45addf}.box_quote{padding:52px 30px 10px;background:url(../images/icon_quote_before.png) 30px 30px no-repeat #F4F4F4;margin-bottom:30px}.box_quote_in{background:url(../images/icon_quote_after.png) 100% calc(100% - 25px) no-repeat}.box_quote p{font-size:18px;margin-bottom:5px}.box_quote .qoete_link{text-align:right;margin:0}.qoete_link a{font-size:13px;color:#333}.instagram_quote01,.instagram_quote02,.twitter_quote{margin-bottom:50px;text-align:center}.remark_box{background:#F4F4F4;padding:10px 30px;margin-bottom:30px}.remark_box p:last-child{margin-bottom:0}#content.blog_detail p.ptitle_01{font-size:25px;text-align:center;position:relative;padding-bottom:10px;font-weight:500;line-height:30px}.ptitle_01:after{border-top:5px solid #57ADDE;bottom:0;content:"";left:calc(50% - 30px);position:absolute;width:60px}.related_box_ct{border:1px solid #ccc}.related_box{padding:19px;width:calc(50% - 39px);float:left;border-right:1px solid #ccc;border-bottom:1px solid #ccc}.related_box:nth-child(2n+2){border-right:none}.related_box.last{border-bottom:0}.related_box .list_latestpost_sb_img{margin:0}.related_box .list_latestpost_sb_ct{padding-left:20px}#content.blog_detail .related_box .list_latestpost_sb_title{font-weight:700;font-size:14px;line-height:22px}.related_box_ct{margin-bottom:10px}.related_box .list_latestpost_sb_date{color:#999}.link_related{text-align:right}.adsense_area_box{padding:30px;width:100%;margin:0 auto 50px}.adsense_box{height:250px;width:300px;float:left;margin:0 30px 0 0}.adsense_box iframe{width:300px;height:300px}.adsense_box:last-child{margin-right:0}.person_box{width:100%;margin:0 auto 50px}#content.blog_detail .person_box .ptitle_01{font-size:18px;font-weight:700}.img_person{float:left;width:170px;text-align:center}#content.blog_detail .person_des,.info_person{float:right;width:calc(100% - 170px)}#content.blog_detail .person_des{font-size:14px;line-height:24px}.person_name{float:left;font-size:18px;font-weight:700;text-decoration:underline;margin-right:45px}.person_name a{color:#222}.person_name a:hover{color:#009ee3}.info_person p{margin-bottom:0}.person_positon{float:left}.list_latestpost_sb_img img{width:100%}.pagination{clear:both;padding:20px 0;position:relative;font-size:11px;line-height:13px}.pagination a,.pagination span{display:block;float:left;margin:2px 2px 2px 0;padding:6px 9px 5px;text-decoration:none;width:auto;color:#fff;background:#555}.pagination .current,.pagination a:hover{background:#3279BB;color:#fff}.pagination .current{padding:6px 9px 5px}.img_person img{-webkit-border-radius:48px;-moz-border-radius:48px;border-radius:48px}#social_share{margin-bottom:30px}#social_share li{padding:0;float:left;margin-right:15px}#social_share li:before{display:none}
=======
#container {
	padding: 0 20px;
}
#main.menu_fixed{
	padding-top:104px;
}
/* #sidebar */
#sidebar {
	width: 300px;
	float: right;


}
#s_navi{
	width:300px;
}
#navi_social{
	height:340px;
}
.navi_ad{
	margin-bottom:20px;
	min-height:600px;
}
.search_navi{
	margin-bottom:20px;
}
.search_navi_ct {
	width:100%;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #222222;
	box-sizing: border-box;
	height: 38px;
}
.search_navi_ct input[type="text"] {
	box-sizing: border-box;
	line-height:36px;
	border: none;
	width: calc(100% - 37px);
	padding: 0 15px;
}
.search_navi_ct input[type="submit"] {
	background: url(../images/btn_search.png) center center no-repeat #222;
	background-size: 17px auto;
	height: 37px;
	width: 37px;
	float: right;
	border: none;
	text-indent: -99999px;
	transition: all 0.5s ease 0s;
	cursor: pointer;
}
.search_navi_ct input[type="submit"]:hover {
	/*background-color: #141414;*/
}
.pgfb{
	margin-bottom:10px;
}
.navi_btn_twitter{
	margin-bottom:7px;
	text-align:center;
}
.navi_btn_twitter img{
	max-width:300px;
}

.list_btn_social01{
	margin-bottom:20px;
}
.list_btn_social01 li{
	float:left;
	width:146px;
	margin-right:8px;
	background:#F48D00;
	text-align:center;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.list_btn_social01 li img{
	max-width:40px !important;}
.list_btn_social01 li a{
	display:block;
}
.list_btn_social01 li:nth-child(2n+2){
	margin-right:0;
	background:#89C22E;
}


.navi_btn_twitter:hover,.list_btn_social01 li:hover{
	opacity:0.8;
}

.sidebar_list {
    margin-bottom: 30px;
}
.sidebar_list dt {
	background:#222;
	font-weight:bold;
	color:#fff;

    font-size: 15px;
    line-height: 42px;
    padding:0 0 0 25px;
}
.sidbar_list_post dt{
	margin-bottom:20px;

}
.sidbar_list_post dd{
	padding:0 0 15px 0;
	margin-bottom:20px;
	   border-bottom: 1px solid #ccc;
}
.sidbar_list_post dd:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.sidebar_list dd ul {

}
#sidebar .sidebar_list li {
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    padding-left: 25px;
}
#sidebar .sidebar_list li a {
    color: #333;
    display: block;
    text-decoration: none;
}
#sidebar .sidebar_list li:hover {

}
#sidebar .sidebar_list li:hover a {
    color: #009ee3;
}
.list_latestpost_sb_img {
    float: left;
    margin: 0 7px 5px 0;
}
.list_latestpost_sb_date {
	margin:0;
    line-height: 25px;

    padding-left: 0px;
	letter-spacing:1px;
}
.list_latestpost_sb dt {
    background: #f4f4f4 url("../images/icon_star_b.png") no-repeat scroll 15px center / 16px 16px;
    margin-bottom: 20px;
}
.list_latestpost_sb dd {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.list_latestpost_sb dd::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.list_latestpost_sb dd:hover .list_latestpost_sb_img {
    opacity: 0.8;
}
.list_latestpost_sb dd:hover .list_latestpost_sb_title a {
    color: #009ee3;
}
.list_latestpost_sb_img {
    display: table-cell;
    height: 70px;
    transition: all 0.5s ease-in-out 0s;
    vertical-align: top;
    width: 92px;
}
.list_latestpost_sb_img p {
    margin-bottom: 0;
}
.list_latestpost_sb_ct {
    display: table-cell;
    padding-left: 8px;
    vertical-align: top;
	text-align:left;
}
.list_latestpost_sb_ct p{
	font-size:14px;
}
.list_latestpost_sb_ct .list_latestpost_sb_title {
    line-height: 16px;
	margin-bottom:0;
}
.list_latestpost_sb_ct .list_latestpost_sb_title a {
    color: #333;
    text-decoration: none;
}
.list_latestpost_sb_ct .list_latestpost_sb_title a:hover {
    color: #009ee3;
}






























/* #content */
#content {
	width: calc(100% - 350px);
	float: left;
}

h3.title_lblog {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}
.bloglist_box01 {
	float: left;
	margin-bottom: 30px;
	margin-right: calc(7% / 2);
	width: 31%;
	box-sizing: border-box;
	border: 3px solid #65AFC4;
	position:relative;
}

.bloglist_box01:nth-child(3n+3) {
	margin-right: 0;
}
.bloglist_box01:hover{

}

.bloglist_box01:hover:after{
	content: "";
	z-index:4;
	position:absolute;
	top:0;
	left:0;
	border: 7px solid #65AFC4;
	box-sizing: border-box;
	width:100%;
	height:100%;
	transition: all 0.3s ease 0s;
	opacity:0;

}

.bloglist_box01:hover:after{
	opacity:1;
	transition: all 0.3s ease 0s;
}

.blog_img {
	overflow: hidden;
	position: relative;
	z-index:3;
}
.bloglist_box01 .blog_time {
	background: #65AFC4;
}
.blog_inew {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	color: #fff;
	font-size: 15px;
	letter-spacing:1px;
	font-weight:bold;
}
.blog_inew span{
		position: absolute;
		z-index: 20;
		top:15px;
		left:18px;
}
.blog_inew:after {
	content: "";
	z-index: 4;
	background: #65AFC4;
	width: 87px;
	height: 87px;
	position: absolute;

	left: -6px;
	top: -34px;
    transform: rotate(-61deg);
}
.blog_inew:before {
	content: "";
	z-index: 4;
	background: #65AFC4;
	width: 87px;
	height: 87px;
	position: absolute;

	left: -55px;
top: -39px;
    transform: rotate(-145deg);
}
.bloglist_box01:hover {
	cursor: pointer;
}
.blog_img img {
	transition: all 1s ease 0s;
}
.blog_idx_info {
	padding: 25px;
	position:relative;
	z-index:10;
	background:none;
}
.blog_title {
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	margin-bottom: 10px;
}
.blog_list_n {
	padding-left: 30px;
}
.blog_cate_list {
	background: url(../images/icon_category01.png) 0 10px no-repeat;
}
.blog_tag_list {
	background: url(../images/icon_tag01.png) 0 10px no-repeat;
}
.note_blog {
	font-size: 14px;
}


/* ################## - blog detail - ################## */

#content.blog_detail{
	border:1px solid #CCCCCC;
	padding:60px 50px 20px;
	position:relative;
	box-sizing:border-box;
}
#content.blog_detail p{
	line-height:2em;
}

#content.blog_detail .blog_time{
	left:50px;
	top:0;
	bottom:inherit;
	font-size:20px;
	color:#fff;
}

h1.bh{
	font-size:32px;
	font-weight:bold;
	line-height:48px;
	margin-bottom:10px;
}
h2.bh{
	font-size:28px;
	font-weight:bold;
	line-height:40px;
	margin-bottom:40px;
	background:rgba(87,173,222,0.2);
	padding:22px 20px;
}
h3.bh{
	font-size:24px;
	font-weight:bold;
	line-height:35px;
	margin-bottom:40px;
	padding:13px 0px;
	border-top:1px solid #333333;
	border-bottom:1px solid #333333;
}
h4.bh{
	font-size:22px;
	font-weight:bold;
	line-height:33px;
	margin-bottom:40px;
	padding:5px 0px 5px 19px;
	border-left:2px solid #333333;
}
h5.bh{
	margin-bottom:20px;
	font-size:18px;
	font-weight:bold;
	line-height:28px;
}

.external{
	font-size:18px;
	background:url(../images/icon_external_link.png) left 7px no-repeat;
	padding-left:20px;
	word-wrap: break-word;
}
.other_articles{
	border:1px solid #DBDBDB;
	box-sizing:border-box;
	padding:19px;
	margin-bottom:40px;
}
.other_articles .list_latestpost_sb_img{
	margin:0;
}
.other_articles .list_latestpost_sb_ct{
	padding-left:15px;
}
#content.blog_detail .other_articles .list_latestpost_sb_title{
	font-size:18px;
	font-weight:bold;
	line-height:25px;
}
.other_articles .list_latestpost_sb_date{
	font-size:13px;
	color:#999999;
}






.blogd_cate_list{
	background:url(../images/icon_cate02.png) left 3px no-repeat;
	float:left;
	margin:0 25px 0 0 ;
	padding-left:35px;

}
.blogd_tag_list{
	background:url(../images/icon_tag02.png) left 3px no-repeat;
	float:left;
	padding-left:35px;
}
.dblog_in{
	margin-bottom:17px;
}
.dblog_in li{
	display:inline-block;
	margin-right:7px;
}
.dblog_in li a{
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
font-size:11px;
line-height:22px;
padding:0 8px;
text-decoration:none;
display:block;
	transition: all 0.2s ease 0s;
}
.blogd_cate_list li a{
	color:#E4683D;
	border:1px solid #E4683D;
}
.blogd_cate_list li a:hover{
	color:#fff;
	background:#E4683D;
}
.blogd_tag_list li a{
	color:#2E9E97;
	border:1px solid #2E9E97;
}

.blogd_tag_list li a:hover{
	color:#fff;
	background:#2E9E97;
}


.title_tbct{
	font-size:20px;
	font-weight:bold;
	margin-bottom:0px;
}
.list_ajenda{
	margin-bottom:20px;
}
.list_ajenda li{
	position:relative;
	padding-left:23px;
}
.list_ajenda li li{
	padding-left:23px;
}
.list_ajenda li:before{
	width:10px;
	height:8px;
	content: "";
	z-index:4;
	position:absolute;
	top:10px;
	left:0;
	background:#CCCCCC
}

.list_ajenda li li:before{
	width:6px;
	height:5px;
}
.list_ajenda li a{
	color:#45addf;
}


.box_quote{
	padding:52px 30px 10px 30px;
	background:url(../images/icon_quote_before.png) 30px 30px no-repeat #F4F4F4;
	margin-bottom:30px;

}
.box_quote_in{
	background:url(../images/icon_quote_after.png) 100% calc(100% - 25px) no-repeat;
}
.box_quote p{
	font-size:18px;
	margin-bottom:5px;

}
.box_quote .qoete_link{
	text-align:right;
	margin:0;
}
.qoete_link a{
	font-size:13px;
	color:#333;
	text-decoration:none;

}
.twitter_quote,.instagram_quote01,.instagram_quote02{
	margin-bottom:50px;
	text-align:center;
}

.remark_box {
	background:#F4F4F4;
	padding:10px 30px;
	margin-bottom:30px;
}
.remark_box p:last-child{
	margin-bottom:0;
}

#content.blog_detail p.ptitle_01{
	font-size:25px;
	text-align:center;
	position:relative;
	padding-bottom:10px;
	font-weight:500;
	line-height:30px;
}
.ptitle_01:after{

	border-top: 5px solid #57ADDE;
    bottom: 0;
    content: "";
    left: calc(50% - 30px);
    position: absolute;
    width: 60px;
}

.related_box_ct{
	border:1px solid #ccc;

}
.related_box{
	padding:19px;
	/*box-sizing:border-box;*/
	/*width:calc(calc(100% - 1px) / 2);*/
	width:calc(50% - 39px);

	float:left;
/*	border:1px solid #ccc;*/
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.related_box:nth-child(2n+2){
	border-right:none;
}
.related_box.last{
	border-bottom:0;
}

.related_box .list_latestpost_sb_img{
	margin:0;
}
.related_box .list_latestpost_sb_ct{
	padding-left:20px;
}
#content.blog_detail .related_box .list_latestpost_sb_title{
	font-weight:bold;
	font-size:14px;
	line-height:22px;
}
.related_box_ct{
	margin-bottom:10px;
}
.related_box  .list_latestpost_sb_date{
	color:#999999;
}
.link_related{
	text-align:right;
}

.link_related a{
	text-decoration:none;
}

.adsense_area_box{
	background:#F4F4F4;
	padding:30px;
	max-width:690px;
	width:100%;
	box-sizing:border-box;
	margin:0 auto 50px;

}
.adsense_box{
	height:250px;
	width:300px;
	background:#333333;
	float:left;
	margin:0 30px 0 0;
}
.adsense_box iframe {
	width: 300px;
	height: 300px;
}
.adsense_box:last-child{
	margin-right:0;
}

.person_box{
	width:100%;
	max-width:690px;
	box-sizing:border-box;
	margin:0 auto 50px;
}
#content.blog_detail .person_box .ptitle_01{
	font-size:18px;
	font-weight:bold;
}
.img_person{
	float:left;
	width:170px;
	text-align:center;
}

.info_person{
	float:right;
	width:calc(100% - 170px);
}
#content.blog_detail .person_des{
	float:right;
	width:calc(100% - 170px);
	font-size:14px;
	line-height:24px;
}
.person_name{
	float:left;
	font-size:18px;
	font-weight:bold;
	text-decoration:underline;
	margin-right:45px;
}
.info_person p{
	margin-bottom:0;
	}
.person_positon{
	float:left;
}
.list_latestpost_sb_img img {
	width: 100%;
}
/* pagination */
.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}

.pagination a:hover{
color:#fff;
background: #3279BB;
}

.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}
.img_person img {
	-webkit-border-radius: 48px;
	-moz-border-radius: 48px;
	border-radius: 48px;
}
#social_share{
	margin-bottom:30px;
}
#social_share li{
	padding:0;
	float:left;
	margin-right:15px;
}
#social_share li:before{
	display:none;
}
>>>>>>> 0d2f802675c860a6a84fe59f2bb6320c792a2a3b
