/* .list_menutop */
.list_menutop {
	width: 70%;
	box-sizing: border-box;
	z-index: 20;
	text-align: right;
	position: absolute;
	right: 0px;
	top: 19px;
}
.list_menutop li {
	display: inline-block;
	margin: 0 33px;
}
.list_menutop li a {
	transition: all 0.5s ease 0s;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	padding: 37px 0 0 0;
	display: block;
}
.list_menutop li.sub_menu_top{
	position:relative;
}
.list_menutop li.sub_menu_top ul{
	display:none;
	position:absolute;
	top: calc(100%);
	left:-50px;
	min-width:170px;
	text-align:center;
	background:rgba(255,255,255,0.9);
	z-index:9999;
	padding:2px 5px;
	
}
.list_menutop li.sub_menu_top ul li{
	margin:0;
	display:list-item;
}
.list_menutop li.sub_menu_top ul a{
	background:none;
	padding:0;
	margin:0;
	color:#333;
	border-bottom:1px dotted #ccc;
	line-height:2.4em;
	transition: all 0.1s ease 0s;
}
.list_menutop li.sub_menu_top ul li:last-child a{
	border-bottom:0;
}

.list_menutop li.sub_menu_top ul a:hover{
	background:none;
	color:#40A2CF;
	opacity:1;
	background:rgba(255,255,255,0.5);
}






.list_menutop li a:hover {
	color: #45addf;
	/*opacity: 0.56;*/
	opacity:0.8;
}
.list_menutop li.menu_top01 a {
	background: url(../images/icon_header01.png) center top no-repeat;
}
.list_menutop li.menu_top02 a {
	background: url(../images/icon_header02.png) center top no-repeat;
}
.list_menutop li.menu_top03 a {
	background: url(../images/icon_header03.png) center top no-repeat;
}
.list_menutop li.menu_top04 a {
	background: url(../images/icon_header04.png) center top no-repeat;
}
.list_menutop li.menu_top05 a {
	background: url(../images/icon_header05.png) center top no-repeat;
}
.list_menutop li.menu_top01 a:hover,.list_menutop li.active_hover a{
	background: url(../images/icon_header01_on.png) center top no-repeat;
	color: #45addf;
}
.list_menutop li.menu_top02 a:hover {
	background: url(../images/icon_header02_on.png) center top no-repeat;
}
.list_menutop li.menu_top03 a:hover {
	background: url(../images/icon_header03_on.png) center top no-repeat;
}
.list_menutop li.menu_top04 a:hover {
	background: url(../images/icon_header04_on.png) center top no-repeat;
}
.list_menutop li.menu_top05 a:hover {
	background: url(../images/icon_header05_on.png) center top no-repeat;
}

/* #list_menutop_sticky */
#list_menutop_sticky  {
	width: 70%;
	box-sizing: border-box;
	z-index: 20;
	text-align: right;
	float:right;
	right: 0px;
	top: 19px;
}
#list_menutop_sticky  li {
	display: inline-block;
	/*margin: 0 33px;*/
}
#list_menutop_sticky  li a {
	transition: all 0.5s ease 0s;
	color: #222;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	padding: 57px 28px 0;
	display: block;
	box-sizing:border-box;
	height:99px;
}



#list_menutop_sticky  li a:hover,#list_menutop_sticky .sub_megamenu.active_hover > a  {
	color: #45addf;
}

#list_menutop_sticky  li.menu_top01 a {
	background: url(../images/icon_menustic_under01.png) center 20px no-repeat;
}
#list_menutop_sticky  li li a{
	background:none;
}
#list_menutop_sticky  li.menu_top02 a {
	background: url(../images/icon_menustic_under02.png) center 20px no-repeat;
}
#list_menutop_sticky  li.menu_top03 a {
	background: url(../images/icon_menustic_under03.png) center 20px no-repeat;
}
#list_menutop_sticky  li.menu_top04 a {
	background: url(../images/icon_menustic_under04.png) center 20px no-repeat;
}
#list_menutop_sticky  li.menu_top05 a {
	background: url(../images/icon_menustic_under05.png) center 20px no-repeat;
}
#list_menutop_sticky  li.menu_top01 a:hover,#list_menutop_sticky .menu_top01.sub_megamenu.active_hover > a {
	background: url(../images/icon_menustic_under01_on.png) center 20px no-repeat;
}
#list_menutop_sticky  li.menu_top02 a:hover,#list_menutop_sticky .menu_top02.sub_megamenu.active_hover > a {
	background: url(../images/icon_menustic_under02_on.png) center 20px no-repeat;
}
#list_menutop_sticky  li.menu_top03 a:hover,#list_menutop_sticky .menu_top03.sub_megamenu.active_hover > a {
	background: url(../images/icon_menustic_under03_on.png) center 20px no-repeat;
}
#list_menutop_sticky  li.menu_top04 a:hover,#list_menutop_sticky .menu_top04.sub_megamenu.active_hover > a {
	background: url(../images/icon_menustic_under04_on.png) center 20px no-repeat;
}
#list_menutop_sticky  li.menu_top05 a:hover,#list_menutop_sticky .menu_top05.sub_megamenu.active_hover > a {
	background: url(../images/icon_menustic_under05_on.png) center 20px no-repeat ;
}

#list_menutop_sticky  li.menu_top_contact a{
	background-color:#222222;
	color:#fff;
}

#list_menutop_sticky  li.menu_top_contact a:hover{
	background-color:#222222;
	color:#45addf;
}

/*fixed */
#sticky_menu_header.fixed #list_menutop_sticky  li a {
	height:74px;
	padding: 37px 25px 0;
}
#sticky_menu_header.fixed{
	height:79px;
}



#sticky_menu_header.fixed #list_menutop_sticky  li.menu_top01 > a {
	background: url(../images/icon_menustic_under01.png) center 10px no-repeat;
}

#sticky_menu_header.fixed #list_menutop_sticky  li.menu_top02 > a {
	background: url(../images/icon_menustic_under02.png) center 10px no-repeat;
}
#sticky_menu_header.fixed #list_menutop_sticky  li.menu_top03 > a {
	background: url(../images/icon_menustic_under03.png) center 10px no-repeat;
}
#sticky_menu_header.fixed #list_menutop_sticky  li.menu_top04 > a {
	background: url(../images/icon_menustic_under04.png) center 10px no-repeat;
}
#sticky_menu_header.fixed #list_menutop_sticky  li.menu_top05 > a {
	background: url(../images/icon_menustic_under05.png) center 10px no-repeat;
}
#sticky_menu_header.fixed #list_menutop_sticky  li.menu_top01 > a:hover,#sticky_menu_header.fixed #list_menutop_sticky .menu_top01.sub_megamenu.active_hover > a {
	background: url(../images/icon_menustic_under01_on.png) center 10px no-repeat;
}
#sticky_menu_header.fixed #list_menutop_sticky  li.menu_top02 > a:hover,#sticky_menu_header.fixed #list_menutop_sticky .menu_top02.sub_megamenu.active_hover > a {
	background: url(../images/icon_menustic_under02_on.png) center 10px no-repeat;
}
#sticky_menu_header.fixed #list_menutop_sticky  li.menu_top03 > a:hover,#sticky_menu_header.fixed #list_menutop_sticky .menu_top03.sub_megamenu.active_hover > a {
	background: url(../images/icon_menustic_under03_on.png) center 10px no-repeat;
}
#sticky_menu_header.fixed #list_menutop_sticky  li.menu_top04 > a:hover,#sticky_menu_header.fixed #list_menutop_sticky .menu_top04.sub_megamenu.active_hover > a {
	background: url(../images/icon_menustic_under04_on.png) center 10px no-repeat;
}
#sticky_menu_header.fixed #list_menutop_sticky  li.menu_top05 > a:hover,#sticky_menu_header.fixed #list_menutop_sticky .menu_top05.sub_megamenu.active_hover > a {
	background: url(../images/icon_menustic_under05_on.png) center 10px no-repeat;
}


#sticky_menu_header.fixed #list_menutop_sticky  li.menu_top_contact a,#sticky_menu_header.fixed #list_menutop_sticky  li.menu_top_contact a:hover{
	background-color:#222222;
	color:#fff;
}

#sticky_menu_header.fixed #list_menutop_sticky  li a{
	background-size:42px auto !important;
	font-size:12px;
}




/* .sub_megamenu */
#list_menutop_sticky .sub_megamenu{
	position:relative;
}
#list_menutop_sticky .sub_megamenu ul {
	display: none;
    /*background: #fff;*/
	background:rgba(243,243,243,0.9);
    height: auto;
    left: 0;
    padding: 24px 0;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
    z-index: 9999;
}
#sticky_menu_header.fixed #list_menutop_sticky .sub_megamenu ul {
	top: 70px;
}
#sticky_menu_header #list_menutop_sticky .sub_megamenu ul a {
    color: #222;
    font-size: 15px;
    text-decoration: none;
	background:none;
	padding:0;
	height:auto;
	font-weight:bold;
}

#sticky_menu_header #list_menutop_sticky .sub_megamenu ul li {
    box-sizing: inherit;
    display: inline-block;
    float: none;
    height: auto;
   
    padding: 0 20px;
    text-align: center;
	/* max-width: 136px;
    width: 136px;*/
	transition: all 0.2s ease 0s;
}
#sticky_menu_header #list_menutop_sticky .sub_megamenu ul li img {
    padding: 0 !important;
	display:none;
}
#sticky_menu_header #list_menutop_sticky .sub_megamenu ul li a:hover {
    /*opacity: 0.5;*/
	color:#40A2CF;
}
#sticky_menu_header #list_menutop_sticky .sub_megamenu ul li:last-child {
    border: medium none;
}
#sticky_menu_header #list_menutop_sticky .sub_megamenu ul li a {
    display: block;
    font-weight: 500;
	transition: all 0.2s ease 0s;
	
}
#sticky_menu_header #list_menutop_sticky .sub_megamenu ul li span {
    display: block;
    margin-top: 10px;
    width: 100%;
	font-weight:bold;
}
#sticky_menu_header #list_menutop_sticky .sub_megamenu ul li span img {
    width: 100%;
}

/* menu SP */
#btn_menu {
	float: right;
	margin:16px 15px 0 0 ;
	display:none;
}
#btn_menu a {
	text-decoration: none;
}

#nav_menu_sp {
	position: fixed;
	top: 52px;
	left: 0;
	width: 100%;
	display: none;
	overflow: scroll;

}
#nav_menu_sp a {
	text-decoration: none;
}
#bg_box_out {
	display: none;

	background: rgba(0,0,0,0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 8888;
	left: 0;
	top: 0;
}
#bg_box_out.active {
	display: block;
	background: rgba(0,0,0,0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 8888;
	left: 0;
	top: 0;
	
}
/* .list_page */
#nav_menu_sp li {
	background: #fff;
	text-align: left;
	border-bottom: 1px solid #DDDDDD;
}
#nav_menu_sp li a {
	font-size: 14px;
	line-height: 14px;
	color: #000;
	text-decoration: none;
	padding: 15px 0 15px 20px;
	display: block;
	background: url(../images/bg_navi_sp.png) calc(100% - 20px) center no-repeat;
	background-size: 6px auto;
}

.btn_sub{
	width:15%;
	height:44px;
	box-sizing:border-box;
	position:absolute;
	right:0;
	top:0;
	background:rgba(255,255,255,0);
	z-index:999999;
	cursor:pointer;
}


#nav_menu_sp li.sub ul li {
	border-bottom: none;
	border-top: 1px solid #DDDDDD;
}
#nav_menu_sp li.sub ul {
	display: none;
}
#nav_menu_sp li.sub > a {
	background: url(../images/icon_plus.png) calc(100% - 16px) center no-repeat;
	background-size: 15px auto;
}
#nav_menu_sp li.sub > a.open {
	background: url(../images/icon_minus.png) calc(100% - 16px) center no-repeat;
	background-size: 15px auto;
}
#nav_menu_sp li.sub ul a {
	padding-left: 40px;
	background-color: #F6F6F6;
}
/* Icon 3 */
#nav-icon {
	width: 28px;
	height: 22px;
	position: relative;
	margin: 0 auto 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#nav-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #000;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
	top: 0px;
}
#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
	top: 8px;
}
#nav-icon span:nth-child(4) {
	top: 16px;
}
#nav-icon.open span:nth-child(1) {
	top: 8px;
	width: 0%;
	left: 50%;
}
#nav-icon.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(4) {
	top: 16px;
	width: 0%;
	left: 50%;
}


@media screen and (max-width:1400px) {
#stiky_logo{
	padding-left:2%;
	margin:0;
}
#sticky_menu_header .inner{
	padding:0;
}
#list_menutop_sticky li a{
	padding-left:15px;
	padding-right:15px;
}

}
@media screen and (max-width:1200px) {
		#sticky_menu_header #list_menutop_sticky .sub_megamenu ul li {
		padding:0 10px;
	}
}
@media screen and (max-width:950px) {

#btn_menu{
	display:block;
}
#sticky_menu_header {
	display: block !important;
	background: rgba(255,255,255);
	border-top: 2px solid #57ADDE;
	opacity:1 !important;

	height:52px;
}
#stiky_logo{
	padding:12px 0 0 15px;
}
#stiky_logo img{
	width:135px;
}
#list_menutop_sticky{
	display:none;
}
#sticky_menu_header.fixed{
	height:52px;
}

/* under */
#header{
	margin-top:52px !important;
}
.under  #sticky_menu_header{
	 position: fixed !important;
	    height: 52px!important;
}
.under #header.fixed{
	margin-bottom:0 !important;
}

.under #stiky_logo {
    padding: 12px 0 0 15px  !important;
}
.under #stiky_logo img {
    width: 135px !important;
}
}