/* responsive */
.box_sp {
	display: none;
}
.box_pc {
	display: block;
}
.box_sp_sm {
	display: none;
}
.box_sp_sm01, .box_sp_sm03 {
	display: none;
}
.btn_main_sp {
	display: none;
	padding: 20px 0;
}



/*responsive */
/* TABLET */

@media screen and (min-width:769px) {
}
 @media screen and (max-width:1400px) {
img {
	max-width: 100%;
}
#wrapper, #header, #main, #footer, .inner {
	width: 100% !important;
	min-width: inherit !important;
}
.inner {
	width: 100%;
	box-sizing: border-box;/*padding:0 5%;*/
	padding: 0 3%;
}
.under .inner {
}
.list_blog {
	padding: 0;
}
/* works */

#container04 .inner {
	width: 100%;
	padding: 0;
}
.box_lworks {
	width: 25%;
}
.box_lworks_on {
	padding: 30px 8px 8px 8px;
}
.box_lworks_on .lworks_on_title {
	font-size: 16px;
}
.box_lworks_on .lworks_on_des {
	margin: 10px auto;
}
/* service */
#container05 .inner {
	padding: 0;
}
#box_video_service {
	margin-bottom: 25px;
}
.list_service {
	margin: 0 0px 30px;
}
.box_lservice {
	float: left;
	width: 23.5%;
	border-width: 5px;
	margin: 0 calc(6% / 4 / 2) 30px calc(6% / 4 / 2);
}
.cate_lservice {
	top: -5px;
}
/*footer */
.footer_top_ct {
	padding: 60px 0px;
}
#footer_top .inner {
/*padding:0;*/
}
}
@media screen and (max-width: 1024px) {
	#main_video{
		height:auto !important;
		max-height:inherit !important;
	}
	.main_video_inner{
		display:none;
	}
	#slider_index_list01{
		display:block;
		height:auto;
	}
}
@media screen and (min-width: 951px) and (max-width: 1150px) {
.title_lservice .title_lservice_m {
	font-size: 12px;
}
.box_lworks_on .lworks_on_des {
	margin: 20px 0;
}
.title_lservice .title_lservice_l {
	margin-bottom: 5px;
	font-size: 16px;
}
.video_production .title_lservice {
	bottom: 25px;
}
.video_production .title_lservice .title_lservice_l {
	font-size: 40px;
	line-height: 45px;
}
}
 @media screen and (max-width: 1150px) {
.list_works {
	padding: 0 0%;
	margin: 0 auto;
	/*max-width:760px;*/
	max-width: 95%;
}
.box_lworks {
	width: calc(50% - 30px);
	margin: 0 15px 30px 15px;
}
.box_lworks_on {
	padding: 45px 8px 8px 8px;
}
.box_lworks_on .lworks_on_title {
	font-size: 16px;
}
}
@media screen and (max-width: 1000px) {
.box_news_idx {
	padding: 0%;
}
.titleh3_01 {
	font-size: 20px;
	line-height: 30px;
}
#container04 .inner {
	padding: 0 3%;
}
.list_menutop li {
	margin: 0 20px;
}
.box_event_right {
	padding: 20px;
}

}
 @media screen and (max-width: 950px) {
#gnavi li {
	padding: 0 15px;
}
.list_service {
	width: 90%;
	margin: 0 auto;
}
.box_lservice {
	/*max-width:325px;*/
	float: left;
	width: 45%;
	margin: 0 calc(10% / 4) 25px calc(10% / 4);
	box-sizing: border-box;
}
#container06 {
	margin-top: 0;
	background-size: 100% auto;
	background-position: center 100px;
}
#footer_link, #footer_contact {
	width: 100%;
}
#footer_link {
	margin-bottom: 30px;
}
}
 @media screen and (max-width: 950px) {
}
 @media screen and (max-width: 850px) {
}
 @media screen and (max-width: 850px) {
.txt_main {
	margin-top: -50px;
}
#index h2 {
	font-size: 40px;
	line-height: 38px;
	margin-bottom: 10px;
}
#index h2 span.h2_l {
	font-size: 25px;
	letter-spacing: 6px;
}
#index h2 span.h2_s {
	font-size: 22px;
}
#btn_main {
	width: 90%;
	max-width: 250px;
	line-height: 45px;
	border: 2px solid #fff;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	font-size: 16px;
	background-position: 20px center;
}
#btn_main a {
	font-size: 14px;
}
/* container02 */
.box_event_left {
	width: 50%;
	min-height: 310px;
}
.box_event_right {
	width: 50%;
}
address {
	clear: both;
	float: none;
	width: 100%;
	font-size: 12px;
	padding: 15px 0;
	text-align: center;
}
}
 @media screen and (min-width: 768px) and (max-width: 850px) {
.list_menutop li {
	margin: 0 10px;
}
}
 @media screen and (min-width: 100px) and (max-width: 800px) {
}
 @media screen and (min-width: 768px) and (max-width: 950px) {
	 
}

 @media screen and (max-width: 950px) {
	 .list_menutop, #list_menutop_sticky,#logo {
	display: none;
}
	}
	
	
/* SMART PHONE */
@media screen and (max-width: 768px) {
.box_sp {
	display: block;
}
.box_pc {
	display: none;
}
.btn_main_sp {
	display: block;
}
.btn_main_pc {
	display: none;
}
.inner {
	padding: 0 5%;
}
.under .inner {
	padding: 0 5%;
}
.image_l, .image_r {
	float: none;
	max-width: 100%;
	margin: 0 auto 20px auto;
	text-align: center;
}
.section, section {
	padding-bottom: 40px;
}
/* #footer */
#to_top {
	display: block;
}
.footer_top_ct {
	padding: 40px 0;
}
#footer_logo {
	padding-left: 0;
	margin-bottom: 0;
}
/* index */

#index #header {

}
#slider_index {
}
#logo {
	display: none;
}
#logo img {
}
#gnavi {
	height: auto;
}
.txt_main {
	margin-top: -70px;
}
#gnavi li {
	padding: 0 10px;
	margin-bottom: 10px;
}
/* common */
.titleh3_01 {
	margin-bottom: 10px;
}

#container03, #container04, #container05, #container06 {
	padding: 30px 0;
}
.title_h301 {
	font-size: 35px;
	margin-bottom: 25px;
}
.title_h301 span {
	line-height: 30px;
}
#footer {
}
/* container01 */
#container01 {
}
.box_news_idx {
	padding: 25px 0 30px;
}
.idex_news_ct, .idex_news_btnmore, .idex_news_title, .news_date_sidx, .news_title_sidx {
	width: 100%;
	float: none;
	box-sizing: border-box;
}
.idex_news_title {
	text-align: center;
	margin-bottom: 15px;
}
.news_date_sidx {
	margin-bottom: 5px;
}
.idex_news_title p {
	margin: 0 auto;
	width: 100px;
	font-size: 25px;
}
#btn_all_news {
	width: 80%;
	max-width: 300px;
	margin: 0 auto;
	background: #1a1a1a;
	color: #fff;
	text-align: center;
	font-weight: bold;
	display: block;
	box-sizing: border-box;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	position: relative;
	cursor: pointer;
}
#btn_all_news a {
	color: #fff;
	text-decoration: none;
	line-height: 45px;
	font-size: 16px;
	font-weight: bold;
	display: block;
	border: none;
	border-radius: 0;
	background: none;
}
#btn_all_news a:hover {
	background: none;
}
#btn_all_news a span {
	background: url(../images/icon_arrow_white01.png) 0 11px no-repeat;
	padding-left: 20px;
	line-height: 38px;
	display: inline-block;
}
/* container02 */
/*.box_event_left {
	width: 50%;
	min-height: 310px
}
.box_event_right {
	width: 50%;
}*/
/* container03 */
.blog_img .flag_new img {
	width: 70px;
}
.blog_time {
	font-size: 13px;
	line-height: 24px;
}
/* container04 */
#container04 .inner {
	padding: 0;
}
.list_works {
	width: 100%;
	max-width: 100%;
}
.blog_title a {
	font-size: 14px;
	line-height: 19px;
}
/*.box_lworks {
    margin: 0 10px 30px;
    width: calc(50% - 16px);
	width: calc(100% - 40px);
	box-sizing:border-box;
	margin:0 20px 25px;
}
.img_lworks{
	width:50%;
	float:left;

}

.box_lworks_on{
	width:50%;
	float:left;
	height:calc(100% - 50px);
	position:relative;
}
.title_lworks{
	width:100%;
	float:left;
}*/
/*
.box_lworks {
    
    width: calc(50% - 16px);
	box-sizing:border-box;
	margin:0 8px 30px;
}*/


.box_lworks, .box_lworks:nth-child(4n+4) {
	width: calc(100% - 40px);
	box-sizing: border-box;
	margin: 0 auto 40px;
	max-width: 400px;
	float: none;
}
.box_lworks_on {
	height: calc(100% - 50px);
}
/*.box_lworks,.box_lworks:nth-child(4n+4){
	width:100%;
	max-width:350px;
	margin:0 auto 25px;
	float:none;
}*/
/* container05 */
.list_service {
	width: 100%;
}
#logo_ser img{
	width:90px;
}
#logo_ser {
    bottom: 10px;
    right: 10px;
}
/* container06 */
#container06 {
	margin-bottom: 0;
}
/* footer */
#footer {
	background-image: none;
}
address {
}
}
 @media screen and (max-width: 680px) {
}
 @media screen and (max-width: 640px) {
/* container02 */
.box_event_left {
	width: 100%;
	min-height: 250px;
}
.box_event_right {
	width: 100%;
}
}
 @media screen and (max-width: 600px) {
/* footer */
#footer_logo, .box_info_footer {
	width: 100%;
	float: none;
	text-align: center;
	padding-right: 0;
}
#footer_logo {
	padding-top: 20px;
}
#footer_logo img {
	width: 150px;
}
.box_info_footer {
	padding-top: 15px;
}
.list_service {
	padding: 0 3%;
	box-sizing: border-box;
}
.box_lservice {
	width: 100%;
	margin: 0 auto 30px auto;
	float: none;
	/*max-width: 325px;*/
	max-width:450px;
	height:300px;
}
.cl_blue.box_lservice{
	background:url(../images/img_service01.png) center center no-repeat;
	background-size:cover;	
}
.cl_orange.box_lservice{
	background:url(../images/img_service02.png) center center no-repeat;
	background-size:cover;
}
.cl_yellow.box_lservice{
	background:url(../images/img_service03.png) center center no-repeat;
	background-size:cover;
}
.cl_green.box_lservice{
	background:url(../images/img_service04.png) center center no-repeat;
	background-size:cover;
}
.video_production .title_lservice{
	bottom:0px;}
.video_production .title_lservice .title_lservice_l{
	font-size:44px;
	line-height:50px;
}
.title_lservice .title_lservice_m span{
	font-size:15px;
}
.img_lservice{
	display:none;
}
#container05 .btn01 {
	margin: 0 3%;
	width: 94%;
	max-width: inherit;
}
.list_btn02 li {
	width: 100%;
	margin: 0 0 20px;
	max-width: inherit;
}
}
 @media screen and (max-width: 560px) {
#container04 .btn01 {
	margin: 0 20px;
	width: calc(100% - 40px);
	max-width: 100%;
}
}
 @media screen and (max-width: 530px) {
}
 @media screen and (max-width: 490px) {
}
 @media screen and (max-width: 450px) {
}
 @media screen and (max-width: 414px) {
#index h2 {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 14px;
}
#index h2 span.h2_l {
	font-size: 23px;
	letter-spacing: 6px;
	line-height:25px
}
#index h2 span.h2_s {
	font-size: 20px;
		line-height:25px
}
#btn_main {

	line-height: 40px;

}
#btn_main a {
	font-size: 14px;
}	 
	 
/* footer */
#footer_link {
	margin-bottom: 0;
}
.box_info_footer p {
	font-size: 12px;
}
.box_lworks_on {
	padding-top: 35px;
}
.box_lworks_on .list_price {
	margin-bottom: 15px;
}
.blog_box01 {
	height: auto !important;
}
/* footer */
#footer_top .inner {
	padding: 0;
}
.footer_top_ct {
	padding: 0;
}
#footer_link .flink {
	float: left;
	margin: 0 0% 0 0;
	text-align: left;
	width: 100%;
}
#footer_link .flink dt {
	font-size: 15px;
	margin-bottom: 0px;
	line-height: 50px;
	padding: 0px 0 0px 20px;
	background: #E8E8E8;/* color:#fff;*/
/*  border-bottom:3px solid #42A3D0;*/
}
#footer_link .flink dd a {
	background: url("../images/bg_flink.png") no-repeat scroll 10px center #F6F6F6;
	font-size: 14px;
	line-height: 50px;
	margin-bottom: 0px;
	padding: 0px 0 0px 25px;
	border-bottom: 1px solid #DDDDDD;
}
#footer_contact {
	background: #E8E8E8;
	box-sizing: border-box;
	margin: 25px 3%;
	padding: 20px;
	width: calc(100% - 6%);
}
.title_footer_contact {
	font-size: 18px;
}
#txt_service_video{
	display:none;
}
}
 @media screen and (max-width: 350px) {
}
 @media screen and (max-width: 320px) {
.box_lworks, .box_lworks:nth-child(4n+4) {
	width: calc(100% - 24px);
}
.box_lworks_on .lworks_on_title {
	font-size: 14px;
	font-weight: bold;
}
.box_lworks_on .lworks_on_des {
	width: 100%;
}
.box_lworks_on .lworks_on_des {
	margin-bottom: 16px;
	margin-bottom: 5px;
}
.box_lworks_on .list_price {
	margin-bottom: 6px;
}
.img_lworks {
	margin-bottom: 20px;
}
}
 @media screen and (max-width: 319px) {
}
 @media screen and (max-width: 280px) {
}
