/* sticky_menu_header
------------------------------------------------------------------------*/
a.box {
	color: #222;
	text-decoration: none;
}
.ser_boxct, .ser_img {
	transition: all 0.3s ease 0s;
}
a.box:hover .ser_boxct {
	/*	left:70px;*/
	-ms-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}
a.box:hover .ser_img {
}
a.box:hover .service_boxct_right .ser_boxct {
/*right:70px;
	left:inherit;*/

}
.under #sticky_menu_header {
	display: block !important;
	position: relative;
	background: rgba(255,255,255,1);
	top: 0;
	width: 100%;
	/*height: 74px;*/
	height: 104px;
}
.under #sticky_menu_header .inner {
	position: relative;
}
.under #stiky_logo {
	float: left;
	padding: 28px 0 0 50px;
}
.under .fixed #stiky_logo {
	padding: 15px 0 0 50px;
}
#stiky_logo img {
	transition: all 0.5s ease 0s;
	width: 220px;
}
.under .fixed #stiky_logo img {
	width: 192px;
}
.under #list_menutop_sticky li a {
	font-size: 14px;
	color:#444;
}
/*fixed */
.under #sticky_menu_header.fixed {
	position: fixed;
	background: rgba(255,255,255,0.9);
}
.lf {
	font-family: 'Lato-Regular' !important;
}
.under #header {
	height: 350px;
	background: url(../images/bg_header_under.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	position: fixed;
	z-index: -1px;
	top: 0;
	left: 0;
	width: 100%;
}
.under #wrapper {
	padding-top: 350px;
}
.under #main, .under #footer {
	position: relative;
	z-index: 1;
	background: #fff;
}
.under #main {
	background: #fff;
}
.under #header.fixed {
	margin-bottom: 99px;
}
/*.under #header a{
	color:#fff;
	text-decoration:none;
}*/
.under #header h1 {
	font-size: 24px;
	font-weight: 500;
	padding-top: 65px;
}
.under #header h1 span {

	font-weight: normal;
	letter-spacing: 2px;
}
.under #header h2 {
	font-size: 60px;
	font-weight: bold;
	padding: 15px 0 20px;
	letter-spacing: -2px;
}
.btn_header01 {
	text-align: center;
	font-weight: bold;
	display: block;
	box-sizing: border-box;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	position: relative;
	cursor: pointer;
	max-width: 310px;
	margin: 0 auto;
	z-index: 10;
	position: relative;
}
.btn_header01 a {
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
	line-height: 52px;
	font-size: 18px;
	font-weight: bold;
	display: block;
	z-index: 10;
	position: relative;
}
.btn_header01 a span {
	background: url(../images/icon_arrow_white01.png) 0 center no-repeat;
	padding-left: 20px;
}
.btn_header01:before {
	content: "";
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.2s ease 0s;
}
.btn_header01:hover:before {
	background: #57ADDE;
	top: 5px;
	left: 5px;
	transition: all 0.2s ease 0s;
}
.btn_header02 {
	text-align: center;
	font-weight: bold;
	display: block;
	box-sizing: border-box;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	position: relative;

	max-width: 310px;
	margin: 10px auto 0;
	z-index: 10;
	position: relative;
}
.btn_header02 a {
	color: #fff;
	text-decoration: none;
	line-height: 52px;
	font-size: 18px;
	font-weight: bold;
	z-index: 10;
	position: relative;
}
.btn_header02 a span {
	background: url(../images/bg_btn_header02.png) 0 center no-repeat;
	padding-left: 20px;
}
.btn_header02 a:hover {
	color: #45addf;
}
.btn_header02 a:hover span {
	background: url(../images/bg_btn_header02_on.png) 0 center no-repeat;
}
/* main under */
.under #main {
	padding: 45px 0;
}
/*.under #main.fixed{
	padding-top:144px;
}*/
/*service - page */

.service_box {
	margin-bottom: 50px;
	position: relative;
	min-height: 480px;
}
.ser_boxct {
	background: #fff;
	position: relative;
	z-index: 10;
	top: 40px;
	left: 100px;
	width: 640px;
	box-sizing: border-box;
	padding: 32px 60px 0 60px;
	min-height: 398px;
}
.ser_img {
	position: absolute;
	z-index: 8;
	top: 0;
	right: 0;
	box-sizing: border-box;
}
/*.service_boxct_right */
.service_boxct_right .ser_boxct {
	right: 100px;
	float: right;
	left: inherit;
}
.service_boxct_right .ser_img {
	top: 0;
	left: 0;
	right: inherit;
}
/* // .service_boxct_right */

.ser_img p {
	margin-bottom: 0;
}
.title_service {
	font-size: 34px;
	font-weight: bold;
	position: relative;
	padding-top: 33px;
	padding-left: 83px;
	margin-bottom: 14px;
}
.title_service span.ser_icon {
	position: absolute;
	left: -15px;
	top: 0;
}
.title_ser_sub {
	font-size: 18px;
	font-weight: bold;
	line-height: 28px;
	margin-bottom: 16px;
}
.info_ser {
	background: #77c49b;
	padding: 8px 20px;
	color: #fff;
}
.des_ser {
	line-height: 27px;
	margin: 0 auto 17px;
	width: 100%;
	max-width: 1000px;
}
.info_ser li {
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
}
.info_ser li.list_price {
	background: url(../images/icon_price01.png) 0 center no-repeat;
	background-size: auto 20px;
	padding-left: 33px;
	margin-right: 30px;
}
.info_ser li.list_period {
	background: url(../images/icon_period01.png) 0 center no-repeat;
	background-size: auto 20px;
	padding-left: 28px;
}
/* ser color for service */

#service_box01 .title_service {
	color: #77c49b;
}
#service_box01 .info_ser {
	background: #77c49b;
}
#service_box02 .title_service {
	color: #59afc4;
}
#service_box02 .info_ser {
	background: #59afc4;
}
#service_box03 .title_service {
	color: #ec6941;
}
#service_box03 .info_ser {
	background: #ec6941;
}
#service_box04 .title_service {
	color: #ecb641;
}
#service_box04 .info_ser {
	background: #ecb641;
}
#service_box05 .title_service {
	color: #5c09b1;
}
#service_box05 .info_ser {
	background: #5c09b1;
}
#service_box06 .title_service {
	color: #e77eb2;
}
#service_box06 .info_ser {
	background: #e77eb2;
}
#service_box07 .title_service {
	color: #191970;
}
#service_box07 .info_ser {
	background: #191970;
}
#service_box08 .title_service {
	color: #800000;
}
#service_box08 .info_ser {
	background: #800000;
}
/* service detail */

#service #container05 {
	background: url(../images/bg_service_container05.jpg) center center no-repeat;
	background-size: cover;
}
#service #container05 .title_h301 {
	color: #fff;
}
#service #container05 .title_h301 span {
	color: #45addf;
}
#service #container04 {
	margin-top: 45px;
}
#service #container03 {
	background: #fff;
}
.box_title_cen {
	text-align: center;
	margin-bottom: 30px;
}
.title_03 {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 55px;
	position: relative;
	margin-bottom: 25px;
}
.title_03 .lf {
	font-size: 40px;
}
.title_03:before {
	content: "";
	z-index: 4;
	position: absolute;
	bottom: 0;
	left: calc(50% - 25px);
	width: 50px;
	height: 2px;
	background: #77c49b;
}
.ser_price {
	min-width: 240px;
	display: inline-block;
	padding: 0 10px;
	margin: 0 auto;
	font-size: 15px;
	line-height: 43px;
	background: #F4F4F4;
	font-weight: 500;
	box-sizing: border-box;
}
.ser_price span {
	padding-left: 40px;
	background: url(../images/icon_price02.png) 10px center no-repeat;
	background-size: 25px auto;
	display: block;
}
.ser_price.ser_period span {
	background-image: url(../images/icon_time02.png);
}
.serde_t {
	font-size: 18px;
}
.serde_box {
	position: relative;
	min-height: 467px;
}
.serde_boxct {
	position: relative;
	z-index: 10;
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 49px 55px 0 100px;
}
.serde_img {
	width: 50%;
	float: left;
	box-sizing: border-box;
}
/*.serde_boxct_right */
.serde_boxct_right .serde_boxct {
	float: right;
	padding: 49px 90px 0 60px;
}
.serde_boxct_right .ser_img {
}
.serde_img p {
	margin-bottom: 0;
}
.title_serde {
	font-size: 34px;
	font-weight: bold;
	position: relative;
	padding-top: 33px;
	padding-left: 73px;
	margin-bottom: 6px;
}
.title_serde span.serde_icon {
	position: absolute;
	left: -15px;
	top: 0;
}
.title_serde_sub {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 16px;
}
.des_serde {
	line-height: 29px;
	margin-bottom: 27px;
}
.info_serde {
}
.info_serde dt {
	width: 165px;
	font-size: 13px;
	float: left;
	letter-spacing: 1px;
}
.info_serde dd {
	width: calc(100% - 165px);
	float: left;
	box-sizing: border-box;
	padding-left: 30px;
	background: url(../images/bg_dd01.png) 0 0 repeat-y;
}
.info_serde li {
	font-size: 14px;
	padding-left: 30px;
	position: relative;
}
.info_serde li a {
	color: #222;
	text-decoration: none;
}
.info_serde li a:hover {
	color: #45addf;
}
.info_serde li:before {
	content: "";
	z-index: 4;
	position: absolute;
	top: 7px;
	left: 0px;
	width: 10px;
	height: 8px;
	background: #77c49b;
}
/* set color */

.consulting .title_serde_sub, .consulting .title_03 .lf {
	color: #77c49b;
}
/* page works */
#txt_notfoud {
	display: none;
	text-align: center;
}
#pworks .title_h301 {
	margin-bottom: 25px;
}
#list_cate_works {
	text-align: center;
	margin-bottom: 35px;
}
#list_cate_works li {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	/*background: #999999;*/
	line-height: 30px;
	/*	padding: 0 10px;*/
	margin: 0 4px 8px;
}
#list_cate_works li:hover {
/*opacity:0.8;*/
}
#list_cate_works li.active {
/*background: #57ADDE;*/
}
#list_cate_works li span {
/*	background: url(../images/icon_check01.png) 0px center no-repeat;
	background-size: 13px auto;
	padding-left: 25px;
	display: block;*/
}
#show_content {
	min-height: 200px;
	position: relative;
}
.list_w {
	display: none;
}
#ajax_bg {
	position: absolute;
	width: 200px;
	height: 100px;
	background: url("https://d2x5ku95bkycr3.cloudfront.net/img/loading.gif") center center;
	background-size: auto 80px;
	background-repeat: no-repeat;
	top: 15px;
	left: calc(50% - 100px);
}
.box_w {
	float: left;
	width: calc((100% - 3px) / 3);
	margin-right: 1px;
	position: relative;/*	transition:all 0.5s;*/
}
.box_w:nth-child(3n+3) {
/*margin-right: 0;*/
}
.box_w_top {
	position: relative;
}
.lworks_btitle {
	padding-left: 100px;
	position: relative;
	margin-bottom: 50px;
	box-sizing: border-box;
	padding-top: 10px;
}
.name_cate_w {
	width: 80px;
	height: 80px;
	display: table;
	border: 3px solid #ecb641;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	background: #fff;
	position: absolute;
	top: -28px;
	left: 10px;
	margin: 0;
	box-sizing: border-box;
	letter-spacing: -1px;
	color: #ecb641;
	padding: 5px;
	line-height: 1.3em;
}
.name_cate_w span {
	vertical-align: middle;
	display: table-cell;
	padding-top: 5px;
}
.title_cate_w {
	font-weight: bold;
	font-size: 14px;
	margin: 0;
	line-height: 21px;
}
.title_cate_w span {
	color: #666666;
	font-weight: normal;
	font-size: 12px;
}
.box_w:hover .box_lworks_on {
	opacity: 1;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.box_w_top .box_lworks_on {
	padding-top: 22px;
}
.box_w_top .lworks_on_des {
	margin: 20px auto 14px auto;
	height: auto;
}
.box_w_top .box_lworks_on li {
	margin-bottom: 0;
}
.box_w_top .list_price {
	margin-bottom: 13px;
}
.btn_site_adv a {
	border: 2px solid #fff;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	line-height: 31px;
	box-sizing: border-box;
	text-align: center;
	font-size: 12px;
	width: 160px;
	margin: 0 auto;
	display: block;
	font-weight: bold;
}
.btn_site_adv a:hover {
	text-decoration: none;
	border-color: #E7B644;
	background: #fff;
	color: #E7B644;
}
.box_archive_blog .bloglist_box01 {
	display: none;
}
.box_archive_blog .bloglist_box01:nth-child(1), .box_archive_blog .bloglist_box01:nth-child(2), .box_archive_blog .bloglist_box01:nth-child(3), .box_archive_blog .bloglist_box01:nth-child(4), .box_archive_blog .bloglist_box01:nth-child(5), .box_archive_blog .bloglist_box01:nth-child(6) {
	display: block;
}
/*.box_instag01_out {
	width: 750px;
	margin: 0 auto;
}
.box_instag01_col01 {
	float: left;
	width: calc((100% - 60px)/3);
	width:33%;
}
.box_instag01_col01_inner{
	margin: 0 30px 30px 0;
	border: 1px solid #DCDCDC;
	box-sizing: border-box;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.box_instag01_col01:nth-child(3n+3) .box_instag01_col01_inner{
	margin-right: 0;
}*/


.box_instag01_out {
	width: 750px;
	margin: 0 auto;
}
.box_instag01_col01 {
	float: left;
	width: 30.5%;
	margin: 0 4.25% 4.25% 0;
	border: 1px solid #DCDCDC;
	box-sizing: border-box;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.box_instag01_col01:nth-child(3n+3) {
	margin-right: 0;
}
/* COMPANY */
.box_company {
	width: 80%;
	margin: 0 auto 50px;
}
.dlstb {
	margin-bottom: 50px;
}
.dlstb dl {
	margin-bottom: 2px;
	width: 100%;
	display: table;
}
.dlstb dt {
	font-weight: bold;
	/*width: 26.25%;*/
	width: 30%;
	box-sizing: border-box;
	background: #DCEFF9;
	padding: 15px;
	border-right: 2px solid #fff;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.dlstb dd {
	display: table-cell;
	box-sizing: border-box;
	width: 70%;
	padding: 15px;
	background: #F4F4F4;
}
.b_contact_box--top {
	padding: 20px 0 40px;
}
.list_flow {
	width: 100%;
	text-align: center;
}
.list_flow--item p {
	line-height: 90px;
	margin: 0;
}
.list_flow.-column2 .list_flow--item {
	width: 370px;
}
.list_flow.-column2 .list_flow--item {
	height: 70px;
	line-height: 70px;
}
.list_flow.-column2 .list_flow--item:first-child {
	margin-right: 20px;
}
.list_flow.-column2 .list_flow--item:first-child .list_flow_text {
	padding-right: 38px;
}
.list_flow.-column2 .list_flow--item:last-child .list_flow_text {
	padding-right: 31px;
}
.list_flow.-column2 .list_flow--item:after {
	border-top-width: 35px;
	border-right-width: 0;
	border-bottom-width: 35px;
	border-left-width: 24px;
	right: 0;
}
.list_flow.-column2 .list_flow_step {
	top: -1px;
}
.list_flow.-column2 .list_flow_num {
	top: -2px;
}
.list_flow.-column2 .list_flow_text {
	top: -1px;
	padding: 0 50px 0 0;
}
.list_flow--item {
	display: inline-block;
	width: 321px;
	height: 90px;
	line-height: 90px;
	vertical-align: middle;
	background-color: #f3f3f3;
	color: #000;
	position: relative;
	letter-spacing: normal;
	margin-right: 26px;
/* state */ }
.list_flow--item:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: -8px;
	width: 0;
	height: 0;
	border-top: 45px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 46px solid transparent;
	border-left: 30px solid #f3f3f3;
	background-color: #fff;
}
.list_flow--item:last-child {
	width: 306px;
	margin-right: 0;
}
.list_flow--item:last-child:after {
	content: none;
}
.list_flow--item:last-child .list_flow_text {
	padding-right: 30px;
}
.list_flow--item.is_current {
	background-color: #000;
	position: relative;
}
.list_flow--item.is_current .list_flow_step, .list_flow--item.is_current .list_flow_num, .list_flow--item.is_current .list_flow_text {
	color: #fff;
}
.list_flow--item.is_current:after {
	border-left-color: #000;
}
.list_flow_step {
	float: left;
	padding: 0 9px 0 27px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
}
.list_flow_num {
	float: left;
	font-size: 30px;
	font-weight: bold;
	position: relative;
}
.list_flow_text {
	float: right;
	padding: 0 44px 0 0;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	position: relative;
}
.dlstb01 {
	margin-bottom: 50px;
}
.dlstb01 dl {
	padding-bottom: 10px;
	margin-bottom: 10px;
	width: 100%;
	display: table;
	border-bottom: 1px solid #E1E1E1;
}
.dlstb01 dt {
	font-weight: bold;
	width: 30%;
	box-sizing: border-box;
	text-align: left;
	display: table-cell;
	vertical-align: top;
	padding: 15px;
}
.dlstb01 dd {
	display: table-cell;
	box-sizing: border-box;
	padding: 15px;
	width: 70%;
	vertical-align: top;
}
.form_contact {
	width: 100%;
	max-width: 1005px;
	margin: 0 auto;
	border: 1px solid #E1E1E1;
}
.form_contact dt span {
	display: block;
}
.form_contact input[type="text"], .form_contact input[type="email"], .form_contact input[type="confirm_email"], .form_contact textarea {
	border: 1px solid #dddddd;
	border-radius: 5px;
	box-sizing: border-box;
	line-height: 42px;
	padding: 0 18px;
	width: 100%;
}
:focus::-moz-placeholder {
 color: transparent;
}
:focus:-moz-placeholder {
 color: transparent;
}
.box_contact input[type="submit"] {
	background: #000 url("../images/arrow01.png") no-repeat scroll 91% center / 20px auto;
	border: medium none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 17px 46px;
	text-decoration: none;
	transition: all 0.5s ease 0s;
	width: 100%;
}
.box_contact input[type="submit"]:hover {
	background: #df4a37 url("../images/arrow01.png") no-repeat scroll 91% center / 20px auto;
}
.form_contact .btn.btn_back_ct input[type="button"] {
	background: #ddd url("../images/arrow01_w_pre.png") no-repeat scroll 8% center / 20px auto;
	border: medium none;
	box-sizing: border-box;
	color: #222;
	cursor: pointer;
	padding: 17px 46px;
	width: 100%;
}
.form_contact .btn.btn_back_ct input[type="button"]:hover {
	opacity: 0.7;
}
.form_contact textarea {
	line-height: 22px;
	min-height: 200px;
	padding-top: 8px;
	width: 100% !important;
}
.txt_ex {
	font-size: 14px;
	color: #838383;
	line-height: 20px;
	padding-top: 10px;
	margin: 0;
}
.txt_iex {
	background-color: #f3f3f3;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-right: 4px;
	padding: 0 6px;
	vertical-align: middle;
	margin-top: -4px;
}
.box_sb {
	padding: 50px 20px;
}
.form_contact button {
	border: none;
}
.tag_must {
	background-color: #f44522;
	color: #ffffff;
	font-size: 11px;
	font-style: normal;
	margin-right: 10px;
	padding: 2px 5px;
	position: relative;
	top: -2px;
}
.wpcf7 input[type='submit'] {
	line-height: 56px;
	background: url(../images/icon_arrow_white01.png) 20px center no-repeat #1a1a1a;
	color: #fff;
}
.wpcf7 input[type='button'] {
	line-height: 56px;
	color: #fff;
}
.wpcf7 .back-button {
	background: url(../images/icon_arrow_white_back.png) 20px center no-repeat #1a1a1a;
}
.content_inner {
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
}
.image_f {
	text-align: center;
	margin-bottom: 30px;
}
.image_f img {
	max-width: 100%;
}
.title_h302 {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding: 40px 0 30px;
}
.w_info {
	padding: 30px 0 20px 0;
}
.w_info dl {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 15px;
	margin-bottom: 15px;
	width: 100%;
	float: left;
}
.w_info dt {
	box-sizing: border-box;
	width: 200px;
	float: left;
	font-weight: bold;
}
.w_info dd {
	box-sizing: border-box;
	width: calc(100% - 250px);
	float: right;
}
.nomain #wrapper {
	padding-top: 0;
}
.img_ct img {
	max-width: 100%;
}
.box_txt_contact {
	text-align: center;
	margin-bottom: 40px;
	padding-bottom:30px;
	/*font-weight: bold;*/
	border-bottom: 1px solid #ddd;
}

.bl_ct01{
		  width:18%;
		  float:left;
		  box-sizing:border-box;
		  margin:0 2.5% 25px 0;

		transition: all 0.2s ease 0s;
	}
	.bl_ct01:hover{
		opacity:0.8;


	}
	.bl_ct01 a{
		color:#000;
		text-decoration:none;
	}
	.bl_ct01:nth-child(5n+5){
		margin-right:0;
	}
	.bl_ct01_img{
		margin-bottom:15px;
	}
	.bl_ct01_img img{
		width:100%;
	}

	.title_hct{
		font-weight:bold;
		font-size:20px;
		text-align:center;
		padding:30px 0 40px;
	}



.fs16 {
	font-size: 16px;
}
.fs17 {
	font-size: 17px;
}
.fs18 {
	font-size: 18px;
}
.fs19 {
	font-size: 19px;
}
.fs20 {
	font-size: 20px;
}
.fs21 {
	font-size: 21px;
}
.fs22 {
	font-size: 22px;
}
.fs23 {
	font-size: 23px;
}
.fs24 {
	font-size: 24px;
}
.fs25 {
	font-size: 25px;
}
.fs26 {
	font-size: 26px;
}
.fs27 {
	font-size: 27px;
}
.fs28 {
	font-size: 28px;
}
.fs29 {
	font-size: 29px;
}
#main.mfixed {
	margin-top: 104px;
}

.title_contact01{
	font-size:22px;
	font-weight:bold;
	margin-bottom:40px;
	line-height:42px;
}




/*news */
.box_list_news{
	margin-bottom:35px;
}



.ar_news_img {
    position: relative;
    width: 240px;
    height: 160px;
    float: left;
	transition: all 0.3s ease 0s;
	margin-bottom:0;
}
.ar_news_img:hover{
	opacity:0.8;
}
.ar_news_img img {
    width: 240px;
    height: 160px;
}


.ar_news_title{
    font-size: 22px;
    font-weight: bold;
	line-height:26px;
    margin-bottom: 5px;}
.ar_news_title a{
	color:#222;
	text-decoration:none;
}
.ar_news_title a:hover{
	color: #0086c6;
}

.ar_news_time{
	font-size: 16px;
    font-weight: 500;
    margin-bottom: 60px;
	letter-spacing:1px;
	background:url(../images/icon_calendar01.png) 0 4px no-repeat;
	background-size:20px auto;
	padding-left:30px;
	color:#999;
}
.ar_news_bt span{

}
.ar_news_ct {
    width: calc(100% - 240px);
    padding-left: 30px;
    display: block;
    float: right;
    position: relative;
    min-height: 160px;
	box-sizing:border-box;
}



.ar_news_bt {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -7px;
	margin-bottom:0;
	font-weight:500;
}
.ar_news_bt span{
	width:40px;
	height:40px;
	float:left;
	padding-right:10px;
}
.ar_news_bt span img{
	margin-top:-7px;
	-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
height: auto;

}
