html {
	color: #000;
	background: #fff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, table, tr, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
	font-style: normal;
	font-weight: normal;
}
del, ins {
	text-decoration: none;
}
li {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	line-height: 1.0;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
abbr {
	cursor: help;
}
label {
	cursor: pointer;
}
sup {
	vertical-align: baseline;
}
sub {
	vertical-align: baseline;
}
/*because legend doesn't inherit in IE */
legend {
	color: #000;
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
*font-size: 100%;
}
/* Setting
------------------------------------------------------------------------*/

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
th, td {
	border: 1px solid #999;
	padding: .5em;
}
th {
	font-weight: bold;
	text-align: center;
}
caption {
	padding-bottom: .5em;
	text-align: right;
}
dfn {
	font-style: normal;
}
address {
	font-style: normal;
	line-height: 1.0;
}
.clear {
	clear: both;
}
.clearfix:after, .col:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.clearfix, .col, .box_company dl {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix, .col {
	display: block;
}
/* End hide from IE-mac */

.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
/* add
------------------------------------------------------------------------*/
.mb0 {
	margin-bottom : 0px;
}
.mb05 {
	margin-bottom : 5px;
}
.mb10 {
	margin-bottom : 10px;
}
.mb15 {
	margin-bottom : 15px;
}
.mb20 {
	margin-bottom : 20px;
}
.mb25 {
	margin-bottom : 25px;
}
.mb30 {
	margin-bottom : 30px;
}
.mt05 {
	margin-top : 5px;
}
.mt10 {
	margin-top : 10px;
}
.mt15 {
	margin-top : 15px;
}
.mt20 {
	margin-top : 20px;
}
.mt25 {
	margin-top : 25px;
}
.mt30 {
	margin-top : 30px;
}
#content .w5 {
	width: 5%;
}
#content .w10 {
	width: 10%;
}
#content .w15 {
	width: 15%;
}
#content .w20 {
	width: 20%;
}
#content .w25 {
	width: 25%;
}
#content .w30 {
	width: 30%;
}
#content .w33 {
	width: 33%;
}
#content .w35 {
	width: 35%;
}
#content .w40 {
	width: 40%;
}
#content .w45 {
	width: 45%;
}
#content .w50 {
	width: 50%;
}
.fRight {
	float: right;
}
.fLeft {
	float: left;
}
