@charset "UTF-8";
@import "base.css";
@import "loader.css";
/* 基本タグのフォントサイズを指定（12px -> 120% or 1.2em ） */
h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
	font-size: 160%;
	-webkit-text-size-adjust: none;
}
img {
	vertical-align: bottom;
}
h1 {
} /* Header内で設定 */
h2 {
}
h3 {
}
h4 {
}
a {
	color: #f7903e;
}
a:hover, a:active {
	color: #f7903e;
	text-decoration: none;
}
a:visited {
}
ul {
}
li {
}
dl {
}
dt {
}
dd {
}
table {
	width: 100%
}
th, td {
}
th {
}
td {
}
p {
	margin: 0 0 1.5em;
}
p, td, th, li, strong, dt, dd {
	line-height: 1.8em;
}
.image_l {
	float: left;
	margin: 0 30px 30px 0;
}
.image_r {
	float: right;
	margin: 0 0 30px 30px;
}
.image_center {
	text-align: center;
}
.section, section {
	padding-bottom: 50px;
}
.section p:last-child, section p:last-child {
	margin-bottom: 0;
}
.section:last-child {
	padding-bottom: 0;
}
table, th, td {
	border: 2px solid #fff;
	font-size: 16px;
	text-align: center;
}
table {
	margin: 0 auto;
	font-size: 14px;
}
table th {
	width: 25%;
	background: #333333;
	color: #fff;
	font-weight: bold;
}
table td {
	background: #f6f6f6;
}
em {
	background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0) 60%, #F3B178 60%) repeat scroll 0 0;
}
em, i {
	font-style: italic;
	line-height: inherit;
}
strong, b {
	font-weight: bold;
	line-height: inherit;
}
strong {
	/*background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0) 60%, #E27F71 60%) repeat scroll 0 0;*/
	color: #DF4A37;
}
/*ol li{
	list-style-type: decimal;
	list-style-position:inside;
}*/

/* ol style02 */
ol {
	list-style-type: none;
	margin: 0;
	margin-left: 2em;
	padding: 0;
	counter-reset: li-counter;
}
ol > li {
	position: relative;
	margin-bottom: 10px;
	padding-left: 1.4em;
	line-height: 1.8em;
}
ol > li:before {
	position: absolute;
	top: 2px;
	left: -1.33em;
	width: 1.3em;
	height: 1.3em;
	font-size: 16px;
	line-height: 1.3em;
	text-align: center;
	color: #fff;
	border: 2px solid #000;
	border-radius: 50%;
	background-color: #000;
	content: counter(li-counter);
	counter-increment: li-counter;
}
/* h4_title01 */
h4.h4_title01 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 12px;
	margin-bottom: 20px;
	position: relative;
	line-height: 30px;
}
h4.h4_title01:before {
	border-bottom: 1px solid #222;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	width: 50px;
	z-index: 4;
}
/* h5_title01 */
h5.h5_title01 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
	padding-left: 20px;
	background: #F6F6F6;
	padding: 10px 7px 10px 35px;
	line-height: 26px;
}
h5.h5_title01:before {
	border-bottom: 4px solid #222;
	bottom: calc(50% - 2px);
	content: "";
	left: 10px;
	position: absolute;
	width: 12px;
	z-index: 4;
}
/* h6_title01 */
h6.h6_title01 {
	color: #f7903e;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
}
.hover{
	transition:all 0.5;
}
.hover:hover{
	opacity:0.8;
	transition:all 0.5;
}
/* add
------------------------------------------------------------------------*/
/*==========================================================================*/
/*                            Container                                     */
/*==========================================================================*/

html {
	background: none;
}
body {
	color: #222;
	text-align: center;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}
body#index {
	background: #fff;
}
#wrapper {
	overflow: hidden;
}
#index #wrapper {
	/*overflow: hidden;*/
	
}
#main {
	margin: 0 auto;
	text-align: left;
}
#content {
}
.inner {
	width: 1200px;
	margin: 0 auto;
}
/*==========================================================================*/
/*                               Header                                     */
/*==========================================================================*/

#index #header {
	text-align:left;
	height:600px;
	background-image: url("../images/main_img_01_bg.jpg");
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#head_top {

}
#slider_index{
	background:#fff;
	width:1200px;
	margin:0 auto;
}
.slider_index_list {
	
}

.slider_index_list li{
	text-align:right;
	
}
.slider_index_list li img{
	display:inline;
	
}
#head_info{
	/*margin-top:-596px;*/
	position:relative;
	z-index:999;
	
}
#header .inner {
}
#logo {
	
	padding:30px 0 150px 50px;
	
}


#index #header h2{
	font-size:17px;
	color:#5d6668;
	padding-left:50px;
	line-height:40px;
	font-weight:500;
	margin-bottom:20px;
}
#index #header h2 span{
	font-weight:bold;
	font-size:21px;
	}
	
#index #header h2 span.h2_l{
	font-size:26px;
	font-weight:500;
}
.btn_main{
border:#DCDCDC 1px solid;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius:3px;
background:#17A2A0;
color:#fff;
width:520px;
box-sizing:border-box;
background-position:6% center;
background-repeat:no-repeat;
margin-left:50px;

}
.btn_ques{
	background-image:url(../images/icon_check01.png);
	margin-bottom:16px;
}
.btn_tel{
	background-image:url(../images/icon_tel01.png);
	background-color:#FC6569;
}
.btn_main a{
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius:3px;
	display:block;
	color:#fff;
	padding:11px 0 7px 17%;
	text-decoration:none;
	font-size:19px;
	font-weight:500;
}
.btn_main a span{
	font-size:12px;
}

/*==========================================================================*/
/*                              Footer                                      */
/*==========================================================================*/

#footer {
	text-align: left;
	
	border-top:3px solid #08A2C2;
	color:#fff;
	background:url(../images/bg_footer01.png) right top no-repeat #3D6789;
	padding-bottom:79px;
}
#footer .inner{
	
}
.footer_tel_box{
	float:left;
}
.footer_right{
	float:right;
	width:500px;
}
.footer_tel{
	font-size:25px;
	font-weight:500;
	background:url(../images/icon_tel02.png) 0 center no-repeat;
	padding:0 0 0 45px;
	float:left;
	margin:24px 0 20px 40px;
}
address{

	font-size:14px;
	font-weight:500;
	padding:35px 135px 0 0;
	 line-height: 1.8em;
}
.footer_link{
	padding:35px 0 0 0;
	float:left;
	
}
.footer_link li{
	display:inline;
}
.footer_link a{
	color:#fff;
	text-decoration:none;
	font-size:14px;
	font-weight:500;
	background:url(../images/bg_list_footer01.png) 0 center no-repeat;
	padding-left:12px;
	margin-right:40px;
}
.footer_link a:hover{
	text-decoration:underline;
}


/*==========================================================================*/
/*                             Contents                                     */
/*==========================================================================*/
/*common
------------------------------------------------------------------------*/

/* index
------------------------------------------------------------------------*/
.h3_box01{
	font-size:45px;
	font-weight:bold;
	color:#1da2c3;
	text-align:center;
	line-height:75px;
	letter-spacing:5px;
	position:relative;
	padding-bottom:30px;
	margin-bottom:55px;
}
.h3_box01 span{
	font-size:20px;
	color:#5d6668;
	line-height:32px;
	letter-spacing:0;
}
.h3_box01:after {
	position: absolute;
	content: "";
	width: 340px;
	border-top: 7px solid #08A2C2;
	left: calc(50% - 170px);
	bottom: 0;
}
/*----------------------- #container01 -----------------------*/

#container01 .inner, #container02 .inner {
}
#container01 {
	padding:35px 0;
	background:url(../images/bg_point01.png) center center;
		background-attachment:fixed;

	
}
.toreruca_step{
	width:34.5%;
	float:left;
	text-align:center;
	color:#666;
	box-sizing:border-box;
	padding-right:45px;
	background:url(../images/toreruca_bg_step.png) right 180px no-repeat;

}
.toreruca_step:last-child{
	width:31%;
	padding-right:0;
	background:none;
}
.toreruca_step dt{
	font-size:25px;
	font-weight:bold;
	letter-spacing:5px;
	color:#666;
	margin-bottom:8px;
}
.title_sub{
	font-size:20px;
	line-height:25px;
	margin-bottom:15px;
	font-weight:500;
	letter-spacing:3px;
}
.title_des{
	margin-bottom:20px;
	font-size:15px;
}
.toreruca_step02.toreruca_step dt,
.toreruca_step02 .title_sub{
	color:#1da2c0;
	
}
.toreruca_step03.toreruca_step dt,
.toreruca_step03 .title_sub{
	color:#fa666c;
	
}
.toreruca_step03 .title_sub{
	text-decoration:underline;
}
/*----------------------- #container02 -----------------------*/
#container02 {
	background:#08A2C2;
	text-align:center;
	padding:35px 0;
	
}
.h3_box02{
	font-weight:bold;
	font-size:45px;
	color:#fff;
}
.h3_box02 span{
	font-size:60px;
	}
.h3_sub01{
	font-size:20px;
	font-weight:bold;
	color:#fff;
	padding-top:10px;
}
.img_chart{
	margin-bottom:15px;}

/*----------------------- #container03 -----------------------*/

/*#container03 .inner,
#container04 .inner,
#container05 .inner{
	padding-left:50px;
	box-sizing:border-box;
}*/
#container03 {
	
	background:#E1EFF2;
	color:#3f6888;
	background:url(../images/bg_idex_box03.png) right bottom no-repeat #E1EFF2;
	
}
#container03 .inner{
	padding:35px 0;
	
}
#container03 .title_h301{
	margin-left:50px;
}
.title_h301{
	color:#3f6888;
	font-size:35px;
	padding:50px 0 0 0;
	background:url(../images/icon_logo01.png) 0 0 no-repeat;
	font-weight:500;
	letter-spacing:0px;
	margin-bottom:35px;
}
.box03_left{
	padding-left:50px;
	width:30%;
	float:left;
	box-sizing:border-box;
}
.box03_right{
	width:70%;
	float:left;
	box-sizing:border-box;
	padding:50px 0 0 10px;
	
}
.txt_light01{
	margin-bottom:35px;
	position:relative;
	padding-left:18px;
	
	
}
.txt_light01.last{
	margin-left:50px;

	}
.txt_light01:after {
	position: absolute;
	content: "";
	height:100%;
	width: 4px;
	background: #08A2C2;
	left: 0;
	top: 0;
	-webkit-border-radius: 2px;
-moz-border-radius:  2px;
border-radius:  2px;
}


.txt_light01 p{
	font-size:20px;
	letter-spacing:-1px;
	margin-bottom:0;
}
.txt_light01 p span{
	font-weight:bold;
	font-size:25px;
	text-decoration:underline;
}
.txt_light01 p span.txt_s{
	font-size:20px;
	text-decoration:none;
	
}
/*----------------------- #container04 -----------------------*/

#container04 {
		
		background:#3D6789;
	
}
#container04 .inner{
		padding:35px 0;
		background:url(../images/bg_idex_box04.png) right 0 no-repeat #3D6789;
		background-size:auto 100%;
}
#container04 .title_h301{
	color:#fff;
	background:url(../images/icon_logo02.png) 0 0 no-repeat;
	}
.box04_left{
	padding-left:50px;
	float:left;
	box-sizing:border-box;
	width:55%;
}
.box04_right{
	float:left;
	box-sizing:border-box;
	width:47%;
	
}
.release_box01{
	display:table;
	margin-bottom:40px;
}
/*.release_box01:last-child{
	margin-bottom:0;
}*/
.title_number,.rele_box{
	display:table-cell;
	vertical-align:middle;
	color:#fff;
}

.title_number{
	font-size:45px;
	font-weight:500;
	border-right:1px solid #fff;
	width:70px;
	text-align:center;
	
}
.rele_box{
	padding:0 0 0 20px;
}
.title_rele{
	font-weight:bold;
	font-size:20px;
	margin-bottom:0;
}
.des_rele{
	color:#8ac2db;
	font-size:14px;
		font-weight:500;
		margin-bottom:0;
}
/*----------------------- #container05 -----------------------*/
#container05 {
		
}
#container05 .inner{
	border:5px solid #E1EFF2;
	box-sizing:border-box;

}
.box05_left{
	float:left;
	box-sizing:border-box;
	width:calc(100% - 656px);
	height:531px;
	display:table;
	color:#3f6888;
	padding-left:45px;
}
.box05_left p{
	font-size:14px;
}
.box05_left_inner{
	display:table-cell;
	vertical-align:middle;
}

.box05_right{
	float:left;
	box-sizing:border-box;
	width:656px;
	height:531px;
}
.box05_right p{
	margin-bottom:0;
}
/*----------------------- #container06 -----------------------*/
#container06 {
	
		padding:50px 0;
}
h3.title_blog{
}

.h3_title_blog{
	color:#3f6888;
	font-size:35px;
	background:url(../images/icon_blog01.png) center bottom no-repeat;
	padding-bottom:80px;
	font-weight:500;
	letter-spacing:0px;
	margin-bottom:35px;
	text-align:center;
}
.slide_box{
	/*width:338px;*/
	float:left;
	/*margin-right:43px;*/
	width:100%;
	box-sizing:border-box;
	cursor:pointer;
	
}

.slide_img{
	width:100%;
	box-sizing:border-box;
	border:3px solid #C9E7EF;
	margin-bottom:10px;
	
}
.slide_img:last-child{
	margin-left:0;
}
.slide_img img{
	border:1px solid #fff;
	width:100%;
	box-sizing:border-box;
	
}
.title_blog01{
	font-size:20px;
	font-weight:bold;
	margin-bottom:5px;
}
.txt_des{
	font-size:13px;
	margin-bottom:10px;
}

.blog_date{
	background:url(../images/icon_calendar01.png) 0 center no-repeat;
	background-size:14px auto;
	padding-left:20px;
	font-size:13px;
	color:#666666;
}
.slide_blog{
	max-width:1106px;
	margin:0 auto;
}

/* <div class="slide_box">
            <p class="slide_img"><img src="images/blog_img03.png" alt="" /></p>
            <p class="title_blog01">ダミーテキスト ダミーテキスト!</p>
            <p class="txt_des">ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト</p>
            <p class="blog_date">2016.07.12</p>*/
			
			
/* footer sticky
------------------------------------------------------------------------*/
#sticky_footer{
	background:rgba(255,255,255,0.9);
	border-top:5px solid #CCCCCC;
	position:fixed;
	bottom:0;
	width:100%;
	z-index:99999;
	padding:8px 0;
	display:none;
}
#sticky_footer p{
	margin:0
}

.box_btn01{
	float:left;
	margin:0 50px 0 110px;
	width:280px;
}
.box_slide_question{
	float:right;
	width:325px;
	position:relative;
	
}
.box_slide_question:after,.box_slide_question:before{	
	background-size:11px auto;
	top:calc(50% - 14px);
	position: absolute;
	content:"";
	width: 11px;
	height: 28px;
}
.box_slide_question:before{
	background: url(../images/btn_next_ques_01.png) no-repeat;
	background-size:11px auto;
	left: 0px;
}
.box_slide_question:after{
	background: url(../images/btn_pre_ques_01.png) no-repeat;
	background-size:11px auto;
	right: 0px;
}
.box_btn02{
	float:right;
	width:280px;
	margin:0 105px 0 50px;
}

.sticky_btn_tel{
    background:url(../images/icon_tel01.png) 30px center no-repeat #FC6569;
	font-size:18px;
}
.sticky_btn_ques{
	background:url(../images/icon_check01.png) 30px center no-repeat #17A2A0;
}
.sticky_btn{
	font-size:18px;

	line-height:22px;
	height:58px;
	box-sizing:border-box;
	padding:9px 0 0 55px;
	border:1px solid #DCDCDC;
}
.sticky_btn .clear_line{
	display:block
}
.sticky_btn a{
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}
.sticky_btn span{
	font-size:12px;
	font-weight:500;
}
.box_slide_question li a{
	font-weight:500;
	color:#333333;
	text-decoration:none;
	font-size:17px;
	letter-spacing:2px; 
}



















